Repository aiven/aiven-docs, pull requests merged in 2024-06, with the labels that each got.

#232 update: clarify attribute statements for Okta
  docs/platform/howto/saml/add-okta-idp.md
Labels: review/TW, platform

#236 update: harmonize terminology to improve SEO
  docs/platform/howto/add-storage-space.md
  docs/platform/howto/disk-autoscaler.md
Labels: review/TW

#240 update: Okta attribute statements
  docs/platform/howto/saml/add-okta-idp.md
Labels: review/TW, platform

#243 update(css): use transparent svg bg
  src/components/HomepageFeatures/styles.module.css
  static/images/icons/home/background.svg
  static/images/icons/home/background1.svg
  static/images/icons/home/background2.svg
Labels: tech

#242 update: concept for OS CCR
  docs/products/opensearch/concepts/cross-cluster-replication-opensearch.md
  docs/products/opensearch/howto/setup-cross-cluster-replication-opensearch.md
Labels: review/TW, service/opensearch

#244 update: okta instructions
  docs/platform/howto/saml/add-identity-providers.md
  docs/platform/howto/saml/add-okta-idp.md
Labels: review/SME, review/TW, platform

#250 update: remove relay state troubleshooting
  docs/platform/howto/saml/add-okta-idp.md
Labels: review/SME, review/TW, platform

#248 fix(platform): azure privatelink comand fix
  docs/platform/howto/use-azure-privatelink.md
Labels: review/TW, platform

#218 update(platform): BYOC AWS priv architecture
  docs/platform/concepts/byoc.md
  static/images/content/figma/byoc-aws-private.png
Labels: review/TW, platform

#238 update(clickhouse): more clarity for users and roles
  docs/products/clickhouse/howto/manage-users-roles.md
Labels: service/clickhouse, review/TW

#251 add(platform): download a BYOC infra template
  docs/platform/howto/byoc/download-infrastructure-template.md
  sidebars.ts
Labels: review/TW, platform

#252 update: remove AE from ECE doc
  docs/platform/concepts/enhanced-compliance-env.md
Labels: review/TW, platform

#254 update: Okta steps
  docs/platform/howto/saml/add-okta-idp.md
Labels: platform

#241 update: user roles and permissions
  docs/platform/concepts/orgs-units-projects.md
Labels: review/TW, platform

#246 update: contact for services
  docs/platform/concepts/disaster-recovery-test-scenarios.md
  docs/platform/howto/support.md
Labels: review/TW, platform

#259 update: remove attributes from Okta configuration
  docs/platform/howto/saml/add-okta-idp.md
Labels: review/TW, platform

#260 update: remove question-style titles
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/platform/concepts/enhanced-compliance-env.md
  docs/platform/concepts/service-integration.md
  docs/products/cassandra/overview.md
  docs/products/flink/concepts/custom-jars.md
  docs/products/kafka/concepts/consumer-lag-predictor.md
  docs/products/kafka/howto/optimizing-resource-usage.md
  docs/products/kafka/kafka-mirrormaker.md
  docs/products/opensearch/howto/upgrade-clients-to-opensearch.md
  docs/products/opensearch/reference/index-replication.md
  docs/products/opensearch/reference/plugins.md
  docs/products/postgresql/concepts/pg-connection-pooling.md
  docs/products/postgresql/howto/pagila.md
Labels: service/flink, service/kafka, service/cassandra, service/postgre, platform, tech

#229 add: Apache Flink upgrade process and limitations
  docs/products/flink/howto/upgrade-flink-version.md
  sidebars.ts
Labels: service/flink, review/SME, review/TW

#263 update: clarify auto scaling value
  docs/platform/howto/disk-autoscaler.md
Labels: review/SME, platform

#265 update(platform): BYOC contact sales replacement and editorial fixes
  docs/platform/concepts/byoc.md
  docs/platform/howto/byoc/assign-project-custom-cloud.md
  docs/platform/howto/byoc/create-custom-cloud.md
  docs/platform/howto/byoc/enable-byoc.md
Labels: review/TW, platform

#267 update(postgresql): connection limits with free plan limit/platform usage
  docs/products/postgresql/reference/pg-connection-limits.md
Labels: service/postgre, review/SME

#268 update(postgresql): pg max connection note
  docs/products/postgresql/reference/pg-connection-limits.md
Labels: service/postgre

#269 update: Missing label for file replacement action
  src/components/ConsoleIcons/index.tsx
Labels: review/TW, tech

#258 update: moving projects to other orgs
  docs/platform/howto/manage-project.md
  src/components/ConsoleIcons/index.tsx
Labels: platform, review/awaitingRelease, tech

#261 add(clickhouse): parquet format for clickhouse kafka data exchange
  docs/products/clickhouse/reference/supported-input-output-formats.md
Labels: service/clickhouse, review/TW

#277 add: button component
  .github/vale/styles/Aiven/UXdescription.yml
  .vscode/aiven.code-snippets
  docs/get-started.md
  src/components/Buttons/index.tsx
  src/components/Buttons/styles.module.css
  src/css/colors.css
  src/css/custom.css
Labels: tech

#231 update(clickhouse): tiered storage tweaks
  docs/products/clickhouse/concepts/clickhouse-tiered-storage.md
  docs/products/clickhouse/howto/list-tiered-storage.md
  docs/products/clickhouse/howto/transfer-data-tiered-storage.md
Labels: service/clickhouse, review/TW

#270 fix: CLI service integration-update fails adding custom metrics
  docs/products/kafka/howto/datadog-customised-metrics.md
  docs/products/kafka/kafka-mirrormaker/howto/datadog-customised-metrics.md
  sidebars.ts
Labels: service/kafka

#282 update(platform): sync password feature for SCIM
  docs/platform/howto/okta-user-provisioning-with-scim.md
Labels: review/SME, review/TW, platform, review/awaitingRelease

#230 fix(postgresql): remove console query stats from the doc
  docs/products/postgresql/howto/identify-pg-slow-queries.md
Labels: service/postgre, review/TW

#284 add: card component
  src/components/AivenCard/index.tsx
  src/components/AivenCard/styles.module.css
Labels: tech

#285 add(postgresql): h3pg extension
  docs/products/postgresql/reference/list-of-extensions.md
Labels: service/postgre, review/SME, review/awaitingRelease

#290 update(postgresql): h3 extension
  docs/products/postgresql/reference/list-of-extensions.md
Labels: service/postgre, review/TW

#278 fix: improve content for Kafka configuration backup
  docs/products/kafka/concepts/configuration-backup.md
Labels: service/kafka, review/SME, review/TW

#289 update(platform): Google PSC not supported for PostgreSQL
  docs/platform/howto/use-google-private-service-connect.md
Labels: review/TW, platform

#291 update: improve SEO for AI
  docs/products/postgresql/howto/identify-pg-slow-queries.md
  docs/products/postgresql/howto/optimize-pg-slow-queries.md
  sidebars.ts
Labels: service/postgre, review/TW

#275 fix: information about persistence for Caching service backup
  docs/platform/concepts/service_backups.md
Labels: review/SME, review/TW, platform

#288 update: fix log retention duration
  docs/platform/howto/list-monitoring.md
Labels: review/SME, platform

#294 update: clarify account owners team changes
  docs/tools/aiven-console/howto/create-manage-teams.md
Labels: review/TW

#295 fix(platform): BYOC typos
  docs/platform/howto/byoc/download-infrastructure-template.md
  docs/tools/cli/byoc.md
Labels: review/TW, platform, tool/cli

#296 fix: Improved Kafka upgrade procedure content
  docs/products/kafka/concepts/upgrade-procedure.md
Labels: service/kafka, review/TW

#297 fix: clickhouse spelling
  docs/products/clickhouse/howto/connect-with-go.md
  docs/products/clickhouse/howto/connect-with-java.md
  docs/products/clickhouse/howto/connect-with-nodejs.md
  docs/products/clickhouse/howto/connect-with-python.md
  sidebars.ts
Labels: service/clickhouse, review/TW

#299 fix: IdP instructions
  docs/platform/howto/saml/add-identity-providers.md
Labels: review/TW, platform

#300 fix(platform): remove "destroy terraform" from create custom cloud instructions
  docs/platform/howto/byoc/create-custom-cloud.md
Labels: review/TW, platform

#301 update(platform): bring back LA for BTAR
  docs/platform/concepts/backup-to-another-region.md
  docs/platform/howto/btar/disable-backup-to-another-region.md
  docs/platform/howto/btar/enable-backup-to-another-region.md
  docs/platform/howto/btar/manage-backup-to-another-region.md
Labels: platform

#302 fix: use placeholders instead of names
  docs/products/cassandra/reference/cassandra-metrics-prometheus.md
Labels: service/cassandra
