Repository aiven/aiven-docs, pull requests merged in 2024-03, with the labels that each got.

#97 add(terraform): OpenTofu guide
  docs/tools/terraform/howto/config-postgresql-provider.md
  docs/tools/terraform/howto/use-opentofu.md
  sidebars.ts
Labels: review/TW, tool/terraform

#101 update: consolidate power on/off docs
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  .vscode/aiven.code-snippets
  docs/platform/concepts/hourly-billing-model.md
  docs/platform/concepts/service-power-cycle.md
  docs/platform/concepts/service_backups.md
  docs/platform/howto/cleanup-powered-off-services.md
  docs/platform/howto/pause-from-cli.md
  docs/products/cassandra/howto.md
  docs/products/cassandra/howto/list-manage-cluster.md
  docs/products/clickhouse/howto.md
  docs/products/clickhouse/howto/list-manage-cluster.md
  docs/products/flink/howto/list-manage-cluster.md
  docs/products/grafana/howto/list-manage-cluster.md
  docs/products/mysql/howto.md
  docs/products/mysql/howto/list-manage-cluster.md
  docs/products/opensearch/howto/opensearch-and-nodejs.md
  docs/products/postgresql/howto.md
  docs/products/postgresql/howto/list-manage-cluster.md
  sidebars.ts
  static/_redirects
  static/includes/auto-delete-poweredoff.md
Labels: service/flink, service/cassandra, service/mysql, service/clickhouse, platform, tech

#48 update: SQL application to restart strategy
  docs/products/flink/howto/create-jar-application.md
  docs/products/flink/howto/create-sql-application.md
  docs/products/flink/howto/restart-strategy-jar-applications.md
Labels: service/flink, review/TW

#102 update(postgres): remove deprecated extensions
  docs/products/postgresql/reference/list-of-extensions.md
Labels: review/TW, review/awaitingRelease

#106 update: use overview pages as landing pages
  docs/platform/concepts/billing-groups.md
  docs/platform/concepts/hourly-billing-model.md
  docs/platform/concepts/list-billing.md
  docs/platform/howto/list-account.md
  docs/platform/howto/list-billing-groups.md
  docs/platform/howto/list-byoc.md
  sidebars.ts
  static/_redirects
Labels: review/TW, platform

#91 update(autoscaler): section titles
  docs/integrations.md
  docs/platform/howto/create-service-integration.md
  docs/platform/howto/disk-autoscaler.md
  docs/platform/howto/integrations/access-jmx-metrics-jolokia.md
Labels: platform, review/awaitingRelease

#108 update(platform): byoc create custom cloud - wording for deploy template
  docs/platform/howto/byoc/create-custom-cloud.md
Labels: review/TW, platform

#103 update: remove outdated CLI commands
  docs/platform/concepts/cloud-security.md
  docs/platform/howto/manage-project.md
  docs/products/cassandra/howto/connect-python.md
  docs/products/kafka/howto/fake-sample-data.md
  docs/tools/cli.md
  docs/tools/cli/account.md
  docs/tools/cli/account/account-team.md
  docs/tools/cli/project.md
  sidebars.ts
  src/components/HomepageFeatures/index.tsx
Labels: service/kafka, service/cassandra, review/TW, platform, tech, tool/cli

#100 update: Add note about SLA and prepare for GA
  docs/products/dragonfly.md
  docs/products/dragonfly/concepts/ha-dragonfly.md
  docs/products/dragonfly/concepts/overview.md
  docs/products/dragonfly/get-started.md
  docs/products/dragonfly/howto.md
  docs/products/dragonfly/howto/connect-go.md
  docs/products/dragonfly/howto/connect-python.md
  docs/products/dragonfly/howto/list-migrate-data.md
  docs/products/dragonfly/howto/migrate-aiven-redis-df-console.md
  docs/products/dragonfly/howto/migrate-ext-redis-df-console.md
  static/includes/dragonflysla-note.md
Labels: service/dragonfly, review/awaitingRelease

#104 update: consolidate fork docs
  docs/platform/concepts/service-forking.md
  docs/platform/howto/console-fork-service.md
  docs/platform/howto/create_new_service.md
  docs/platform/howto/prepare-for-high-load.md
  docs/platform/howto/rename-a-service.md
  docs/platform/howto/tag-resources.md
  docs/platform/reference/eol-for-major-versions.md
  docs/products/cassandra/howto.md
  docs/products/cassandra/howto/list-manage-cluster.md
  docs/products/clickhouse/concepts/features-overview.md
  docs/products/clickhouse/howto.md
  docs/products/clickhouse/howto/list-manage-cluster.md
  docs/products/grafana/howto/list-manage-cluster.md
  docs/products/mysql/howto.md
  docs/products/mysql/howto/list-manage-cluster.md
  docs/products/opensearch/concepts/opensearch-security-considerations.md
  docs/products/postgresql/howto.md
  docs/products/postgresql/howto/list-manage-cluster.md
  sidebars.ts
  static/_redirects
Labels: service/cassandra, service/mysql, service/clickhouse, review/TW, platform

#96 update(clickhouse): create db update
  docs/products/clickhouse/get-started.md
Labels: service/clickhouse, review/TW

#112 update: service backups
  docs/platform/concepts/service_backups.md
  docs/products/clickhouse/concepts/features-overview.md
  static/_redirects
  static/includes/edit-backup-schedule.md
Labels: service/clickhouse, review/TW, platform

#117 update: consolidate scaling docs
  .github/vale/styles/Aiven/Wordiness-error.yml
  docs/platform/concepts/dynamic-disk-sizing.md
  docs/platform/howto/add-storage-space.md
  docs/platform/howto/create_new_service.md
  docs/platform/howto/disk-autoscaler.md
  docs/platform/howto/scale-services.md
  sidebars.ts
  static/_redirects
Labels: review/TW, platform, tech

#116 update(platform): add multiple vpc peering connections on gcp
  docs/platform/howto/vpc-peering-gcp.md
Labels: review/TW, platform

#122 update: tab styling
  src/css/custom.css
Labels: tech

#87 update: Dragonfly GA limitations
  docs/products/dragonfly/concepts/overview.md
  docs/products/dragonfly/get-started.md
  docs/products/dragonfly/howto/migrate-aiven-redis-df-console.md
  docs/products/dragonfly/howto/migrate-ext-redis-df-console.md
  static/includes/dragonfly-limitations.md
Labels: service/dragonfly, review/TW, review/awaitingRelease

#124 update: merge serv recovery in backups
  docs/platform/concepts/service_backups.md
  docs/platform/howto/recover-a-deleted-service.md
  sidebars.ts
  static/_redirects
  static/variables.json
Labels: platform

#55 update: IdP instructions for SCIM
  .vscode/aiven.code-snippets
  docs/platform/howto/saml/add-identity-providers.md
  sidebars.ts
  src/components/Badges/EnterpriseBadge/index.tsx
  src/components/Badges/EnterpriseBadge/styles.module.css
  src/theme/DocItem/Content/index.tsx
Labels: review/TW, platform, tech

#126 update: add import ref link
  docs/products/dragonfly/reference/advanced-params.md
Labels: service/dragonfly, review/TW

#127 update: create categories in service management
  .vscode/aiven.code-snippets
  docs/platform/concepts/choosing-timeseries-database.md
  docs/platform/howto/create_new_service.md
  docs/platform/howto/create_new_service_user.md
  docs/platform/howto/list-service.md
  docs/platform/howto/search-services.md
  sidebars.ts
  static/_redirects
Labels: platform

#3 update(platform): BYOC AWS GA
  docs/platform/concepts/byoc.md
  docs/platform/howto/byoc/add-customer-info-custom-cloud.md
  docs/platform/howto/byoc/assign-project-custom-cloud.md
  docs/platform/howto/byoc/create-custom-cloud.md
  docs/platform/howto/byoc/delete-custom-cloud.md
  docs/platform/howto/byoc/enable-byoc.md
  docs/platform/howto/byoc/rename-custom-cloud.md
Labels: platform, review/awaitingRelease

#128 update: super admin
  docs/platform/howto/make-super-admin.md
Labels: review/SME, platform

#129 update: remove prepositions after click
  docs/integrations/cloudwatch/cloudwatch-logs-cli.md
  docs/integrations/cloudwatch/cloudwatch-logs-console.md
  docs/integrations/cloudwatch/cloudwatch-metrics.md
  docs/platform/howto/billing-google-cloud-platform-marketplace-subscription.md
  docs/platform/howto/integrations/prometheus-metrics.md
  docs/platform/howto/saml/add-auth0-idp.md
  docs/platform/howto/saml/add-azure-idp.md
  docs/platform/howto/saml/add-fusionauth-idp.md
  docs/products/flink/howto/manage-flink-applications.md
  docs/products/kafka/howto/change-retention-period.md
  docs/products/kafka/howto/get-topic-partition-details.md
  docs/products/kafka/howto/renew-ssl-certs.md
  docs/products/kafka/kafka-connect/howto/gcp-bigquery-sink-prereq.md
  docs/products/opensearch/dashboards/get-started.md
  docs/products/opensearch/dashboards/howto/opensearch-alerting-dashboard.md
  docs/products/opensearch/get-started.md
  docs/products/opensearch/howto/import-opensearch-data-elasticsearch-dump-to-aiven.md
  docs/products/opensearch/howto/import-opensearch-data-elasticsearch-dump-to-aws.md
  docs/products/postgresql/howto/connect-pgadmin.md
  docs/products/postgresql/howto/connect-rivery.md
  docs/products/postgresql/howto/connect-skyvia.md
  docs/products/postgresql/howto/connect-zapier.md
  docs/products/postgresql/howto/create-database.md
  docs/products/redis/howto/configure-acl-permissions.md
  docs/tutorials/anomaly-detection.md
  static/images/integrations/aiven-integrations.png
  static/images/integrations/cloudwatch-metrics-list.png
  static/images/integrations/cloudwatch-overview-integrations.png
Labels: service/flink, service/kafka, service/postgre, platform, service/redis

#131 update: consolidate content in Monitoring
  docs/integrations/cloudwatch.md
  docs/integrations/cloudwatch/cloudwatch-metrics.md
  docs/integrations/google-bigquery.md
  docs/integrations/send-logs-to-elasticsearch.md
  docs/platform/concepts/logs-metrics-alerts.md
  docs/platform/howto/access-service-logs.md
  docs/platform/howto/integrations/access-jmx-metrics-jolokia.md
  docs/platform/howto/list-monitoring.md
  docs/platform/howto/monitoring-services.md
  docs/platform/howto/prepare-for-high-load.md
  docs/platform/howto/service-metrics.md
  docs/products/cassandra/howto.md
  docs/products/cassandra/howto/list-manage-cluster.md
  docs/products/clickhouse/howto.md
  docs/products/clickhouse/howto/list-manage-cluster.md
  docs/products/flink/howto/list-manage-cluster.md
  docs/products/grafana/howto/list-manage-cluster.md
  docs/products/mysql/howto.md
  docs/products/mysql/howto/list-manage-cluster.md
  docs/products/postgresql/howto.md
  docs/products/postgresql/howto/list-manage-cluster.md
  docs/products/postgresql/reference/log-formats-supported.md
  sidebars.ts
  static/_redirects
  static/images/integrations/jolokia-service-integration-image-1.png
  static/images/integrations/jolokia-service-integration-image-2.png
Labels: service/flink, service/cassandra, service/postgre, service/mysql, service/clickhouse, review/TW, platform

#133 update: group topics in Networking section
  docs/platform/concepts/aiven-node-firewall-configuration.md
  docs/platform/concepts/availability-zones.md
  docs/platform/concepts/service-power-cycle.md
  docs/platform/concepts/static-ips.md
  docs/platform/concepts/tls-ssl-certificates.md
  docs/platform/howto/download-ca-cert.md
  docs/platform/howto/integrations/access-jmx-metrics-jolokia.md
  docs/platform/howto/list-network.md
  docs/platform/howto/manage-vpc-peering.md
  docs/platform/howto/static-ip-addresses.md
  docs/platform/howto/use-azure-privatelink.md
  docs/platform/howto/vnet-peering-azure.md
  docs/platform/howto/vpc-peering-aws.md
  docs/platform/howto/vpc-peering-gcp.md
  docs/platform/howto/vpc-peering-upcloud.md
  docs/platform/reference/list_of_clouds.md
  docs/platform/reference/service-ip-address.md
  docs/products/mysql/howto/connect-with-php.md
  docs/products/postgresql/howto/connect-go.md
  docs/products/postgresql/howto/connect-node.md
  docs/products/postgresql/howto/connect-php.md
  docs/tools/terraform/howto/vnet-peering-azure.md
  docs/tools/terraform/howto/vpc-peering-aws.md
  docs/tools/terraform/howto/vpc-peering-gcp.md
  sidebars.ts
  static/_redirects
  static/includes/static-ip-cost-warning.md
Labels: service/postgre, service/mysql, review/TW, platform, tool/terraform

#137 fix: formatting of MySQL commands
  docs/products/mysql/howto/migrate-from-external-mysql.md
Labels: service/mysql, review/TW

#136 update: remove data sources doc
  docs/tools/terraform/concepts/data-sources.md
  sidebars.ts
  static/_redirects
Labels: review/TW, tool/terraform
