Repository aiven/aiven-docs, pull requests merged in 2024-04, with the labels that each got.

#140 update(postgresql): add connect to pgbouncer command
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/postgresql/howto/pgbouncer-stats.md
Labels: service/postgre, review/TW, tech

#144 update: update Docusaurus to 3.2
  package.json
  yarn.lock
Labels: tech

#21 update(integrations): rsyslog max message size parameter
  docs/integrations/rsyslog.md
  static/images/integrations/remote-syslog-endpoint.png
Labels: platform, review/awaitingRelease

#130 fix: remove delete.enable option from JDBC sink connector
  docs/products/kafka/kafka-connect/howto/jdbc-sink.md
Labels: service/kafka, review/TW

#145 update: added info to turn off certificate expiration notification
  docs/products/kafka/howto/renew-ssl-certs.md
Labels: service/kafka, review/TW

#135 update: project role permissions
  docs/platform/reference/project-member-privileges.md
Labels: review/TW, platform

#141 update(platform): service integrations and restrict access with ip filter
  docs/platform/concepts/service-integration.md
  docs/platform/howto/create-service-integration.md
  docs/platform/howto/restrict-access.md
Labels: review/TW, platform

#152 update(Terraform): remove generic TF logging instructions
  docs/tools/terraform/howto/terraform-logging.md
  sidebars.ts
  static/_redirects
Labels: review/TW, tool/terraform

#84 update: Debezium v2.5 breaking changes
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-mongodb.md
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-mysql.md
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-pg-node-replacement.md
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-pg.md
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-sql-server.md
  static/includes/debezium-breakingchange.md
Labels: service/kafka, review/TW

#149 add: user provisioning for Okta with SCIM
  docs/platform/howto/okta-user-provisioning-with-scim.md
  docs/platform/howto/saml/add-identity-providers.md
  docs/platform/howto/saml/add-okta-idp.md
  sidebars.ts
Labels: review/SME, review/TW, platform

#160 update: removed duplicate content
  docs/products/dragonfly/concepts/overview.md
Labels: service/dragonfly, review/TW

#66 add: RedisJSON v2 syntax compatibility
  docs/products/dragonfly/howto/compatibility-redisjson.md
  sidebars.ts
Labels: service/dragonfly, review/TW

#162 update: move Figma images
  docs/platform/concepts/projects_accounts_access.md
  docs/products/kafka/concepts/upgrade-procedure.md
  static/images/content/figma/kafka-cluster-overview-final.png
  static/images/content/figma/kafka-cluster-overview-upgraded.png
  static/images/content/figma/kafka-cluster-overview.png
  static/images/content/figma/organizations-overview.png
Labels: service/kafka, platform

#163 update: merge marketplace pages
  docs/marketplace-setup.md
  docs/platform/howto/billing-aws-marketplace-subscription.md
  docs/platform/howto/billing-azure-marketplace-subscription.md
  docs/platform/howto/billing-google-cloud-platform-marketplace-subscription.md
  docs/platform/howto/move-to-aws-marketplace-billing.md
  docs/platform/howto/move-to-azure-marketplace-billing.md
  docs/platform/howto/move-to-gcp-marketplace-billing.md
  sidebars.ts
  static/_redirects
  static/images/content/platform/howto/aws-marketplace-listing.png
  static/images/content/platform/howto/azure-marketplace-listing.png
  static/images/content/platform/howto/gcp-billing.png
  static/images/content/platform/howto/gcp-console.png
  static/images/content/platform/howto/gcp-manage-on-provider.png
Labels: platform

#164 update: merge move to marketplace subscriptions
  docs/marketplace-setup.md
  docs/platform/howto/list-marketplace-payments.md
  docs/platform/howto/move-to-aws-marketplace-billing.md
  docs/platform/howto/move-to-azure-marketplace-billing.md
  docs/platform/howto/move-to-gcp-marketplace-billing.md
  sidebars.ts
  static/_redirects
Labels: platform

#111 update: Kafka enable REST proxy updates
  docs/products/kafka/karapace/concepts/kafka-rest-proxy-authorization.md
  docs/products/kafka/karapace/get-started.md
  docs/products/kafka/karapace/howto/enable-kafka-rest-proxy-authorization.md
  docs/products/kafka/karapace/howto/enable-oauth-oidc-kafka-rest-proxy.md
  docs/products/kafka/karapace/howto/manage-kafka-rest-proxy-authorization.md
  sidebars.ts
  static/_redirects
Labels: service/kafka, review/TW

#159 add: Thanos metrics retention rules
  docs/products/metrics/concepts/retention-rules.md
  sidebars.ts
Labels: review/TW, service/thanos-metrics

#38 add(kafka): enable mTLS for Kafka Connect and Debezium PostgreSQL
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/kafka/kafka-connect/howto/kafka-connect-debezium-tls-pg.md
  sidebars.ts
  yarn.lock
Labels: service/kafka, review/SME, review/TW, tech

#110 update(postgresql): get-started guide improvements
  docs/products/postgresql/get-started.md
  docusaurus.config.ts
Labels: service/postgre, review/TW

#167 update: fix toc entry
  docs/products/metrics/concepts/retention-rules.md
  sidebars.ts
Labels: review/TW, service/thanos-metrics

#146 add(postgresql): expose pgbouncer stats to datadog
  docs/integrations/datadog/datadog-metrics.md
  docs/products/postgresql/howto.md
  docs/products/postgresql/howto/monitor-database-with-datadog.md
  docs/products/postgresql/howto/monitor-pgbouncer-with-datadog.md
  sidebars.ts
Labels: service/postgre, review/TW

#32 add(mysql): connect to Aiven for MySQL with dbeaver and datagrip
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/mysql/howto/connect-with-datagrip.md
  docs/products/mysql/howto/connect-with-dbeaver.md
  sidebars.ts
Labels: service/mysql, review/TW, tech

#168 update(platform): update password info for vpc peering setup on Azure
  docs/platform/howto/vnet-peering-azure.md
Labels: review/TW, platform

#156 update(platform): remove LA tag for application users
  docs/platform/concepts/application-users.md
  docs/platform/howto/manage-application-users.md
Labels: platform, review/awaitingRelease

#175 update(kafka): add more tiered storage prerequisites
  docs/products/kafka/howto/enable-kafka-tiered-storage.md
Labels: service/kafka, review/TW
