Repository aiven/aiven-docs, pull requests merged in 2024-09, with the labels that each got.

#432 fix: styleguide link in template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: review/TW, tech

#420 update: clickhouse dictionaries now named collections is released
  docs/products/clickhouse/howto/create-dictionary.md
Labels: service/clickhouse

#433 fix: promql command
  docs/products/kafka/howto/enabled-consumer-lag-predictor.md
Labels: service/kafka, review/TW

#371 add: Configure secret providers for Apache Kafka Connect
  docs/products/kafka/kafka-connect/howto/configure-aws-secrets-manager.md
  docs/products/kafka/kafka-connect/howto/configure-hashicorp-vault.md
  docs/products/kafka/kafka-connect/howto/configure-secret-providers.md
  sidebars.ts
Labels: service/kafka, review/TW

#442 fix: CLI command for Elasticsearch migration to OS
  docs/products/opensearch/howto/migrating_elasticsearch_data_to_aiven.md
Labels: review/TW, service/opensearch

#440 update(BYOC): add variables definitions for BYOC GC instructions
  docs/platform/howto/byoc/create-custom-cloud.md
  src/components/ConsoleIcons/index.tsx
Labels: review/TW, platform, tech

#404 add: replication factor 0
  docs/products/opensearch/concepts/index-replication.md
  docs/products/opensearch/concepts/indices.md
  docs/products/opensearch/reference/index-replication.md
  sidebars.ts
  static/_redirects
Labels: review/SME, review/TW, service/opensearch

#446 add: image zoom
  docusaurus.config.ts
  package.json
  yarn.lock
Labels: review/TW

#448 update(postgresql): remove reluctant image
  docs/products/postgresql/howto/create-read-replica.md
  static/images/content/products/postgresql/replica-create.png
Labels: service/postgre, review/TW

#387 add: OpenSearch snapshot restoration
  docs/products/opensearch/howto/migrate-external-snapshots-aiven-opensearch.md
  docs/products/opensearch/howto/migrate-opendistro-security-config-aiven.md
  docs/products/opensearch/howto/migrate-snapshot-data-opensearch.md
  sidebars.ts
Labels: review/SME, service/opensearch

#449 update: change email instructions
  docs/platform/howto/change-your-email-address.md
Labels: review/TW, platform

#447 update: project members to permissions
  docs/platform/concepts/orgs-units-projects.md
  docs/platform/howto/add-groups-projects.md
  docs/platform/howto/add-project-members.md
  docs/platform/howto/manage-project.md
  docs/platform/reference/project-member-privileges.md
  docs/products/kafka/howto/enable-governance.md
  docs/products/kafka/howto/view-kafka-topic-catalog.md
  docs/tools/aiven-console.md
  src/components/ConsoleIcons/index.tsx
Labels: service/kafka, review/TW, platform, tech

#429 add: OpenSearch to BTAR list
  docs/platform/concepts/backup-to-another-region.md
  docs/platform/howto/btar/enable-backup-to-another-region.md
Labels: review/TW, platform

#451 add: note to exclude index pattern
  docs/products/opensearch/howto/migrate-snapshot-data-opensearch.md
Labels: review/TW, service/opensearch

#452 update(platform): performance degradation after adding disk storage
  docs/platform/howto/add-storage-space.md
Labels: review/TW, platform

#450 update: SCIM config for Okta
  docs/platform/howto/okta-user-provisioning-with-scim.md
Labels: review/TW, platform

#462 update: shorten titles in the sidebar
  docs/products/mysql/concepts/mysql-backups.md
  docs/products/mysql/concepts/mysql-memory-usage.md
  docs/products/mysql/concepts/mysql-tuning-and-concurrency.md
  docs/products/mysql/howto/create-database.md
  docs/products/mysql/reference/resource-capability.md
  docs/products/postgresql/concepts/aiven-db-migrate.md
  docs/products/postgresql/concepts/dba-tasks-pg.md
  docs/products/postgresql/concepts/pg-backups.md
  docs/products/postgresql/concepts/pg-disk-usage.md
  docs/products/postgresql/concepts/pg-shared-buffers.md
  docs/products/postgresql/concepts/pgvector.md
  docs/products/postgresql/concepts/upgrade-failover.md
  docs/products/postgresql/howto/analyze-with-google-data-studio.md
  docs/products/postgresql/howto/create-database.md
  docs/products/postgresql/howto/create-manual-backups.md
  docs/products/postgresql/howto/enable-jit.md
  docs/products/postgresql/howto/identify-pg-slow-queries.md
  docs/products/postgresql/howto/monitor-database-with-datadog.md
  docs/products/postgresql/howto/optimize-pg-slow-queries.md
  docs/products/postgresql/howto/pg-object-size.md
  docs/products/postgresql/howto/prevent-full-disk.md
  docs/products/postgresql/howto/readonly-user.md
  docs/products/postgresql/howto/repair-pg-index.md
  docs/products/postgresql/howto/restore-backup.md
  docs/products/postgresql/howto/upgrade.md
  docs/products/postgresql/howto/use-dblink-extension.md
  docs/products/postgresql/howto/use-pg-cron-extension.md
  docs/products/postgresql/howto/use-pg-repack-extension.md
  docs/products/postgresql/howto/use-pgvector.md
  docs/products/postgresql/reference/list-of-extensions.md
  docs/products/postgresql/reference/log-formats-supported.md
  docs/products/postgresql/reference/pg-metrics.md
  docs/products/postgresql/reference/resource-capability.md
  docs/products/postgresql/reference/terminology.md
  docs/products/postgresql/troubleshooting/troubleshooting-connection-pooling.md
  package.json
  static/includes/benchmarks.md
  yarn.lock
Labels: service/postgre, service/mysql

#464 update: clarify upgrade starts immediately
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/platform/concepts/maintenance-window.md
  docs/products/postgresql/howto/upgrade.md
  src/css/custom.css
Labels: service/postgre, review/SME, platform, tech

#441 update: get started first steps
  docs/get-started.md
Labels: review/TW

#465 update: added method to get document count for migrated data
  docs/products/opensearch/howto/migrate-snapshot-data-opensearch.md
Labels: review/TW, service/opensearch

#467 fix: Remove duplicate sentence from ECE description page
  docs/platform/concepts/enhanced-compliance-env.md
Labels: platform

#468 fix: missing icon
  docs/products/kafka/howto/enable-follower-fetching.md
Labels: service/kafka

#471 fix(cassandra): broken link to ZDM migration intro
  docs/products/cassandra/howto/zdm-proxy.md
Labels: service/cassandra, review/TW

#473 fix: typo in Grafana dashboard previews documentation
  docs/products/grafana/howto/dashboard-previews.md
Labels: review/TW, service/grafana

#439 update: Secrete providers configuration via Terraform
  docs/products/kafka/kafka-connect/howto/configure-aws-secrets-manager.md
  docs/products/kafka/kafka-connect/howto/configure-hashicorp-vault.md
Labels: service/kafka, review/SME

#453 update: Remove deprecated Grafana plugins
  docs/products/grafana/reference/plugins.md
Labels: review/TW, service/grafana

#472 update(platform): ip filter
  docs/platform/howto/manage-vpc-peering.md
  docs/platform/howto/restrict-access.md
Labels: review/TW, platform

#418 update: add multiple roles to groups
  docs/platform/howto/add-groups-projects.md
Labels: platform, review/awaitingRelease
