Repository aiven/aiven-docs, pull requests merged in 2024-05, with the labels that each got.

#176 update: structure of orgs and access docs
  docs/platform/concepts/orgs-and-units.md
  docs/platform/concepts/projects.md
  sidebars.ts
Labels: review/TW, platform

#182 update(kafka): EOL dates for Kafka 3.7
  docs/platform/reference/eol-for-major-versions.md
Labels: platform

#185 fix: link to AWS Marketplace
  docs/marketplace-setup.md
Labels: review/TW

#184 fix(mysql): Switch PostgreSQL config variables to MySQL
  docs/products/mysql/howto/migrate-db-to-aiven-via-console.md
Labels: service/mysql, review/TW

#138 update(clikchouse): maximum concurrent queries & connections
  docs/products/clickhouse/howto/query-databases.md
  docs/products/clickhouse/reference/limitations.md
Labels: service/clickhouse, review/TW

#187 fix: remove inaccurate list of free tier regions
  docs/platform/concepts/free-plan.md
Labels: platform

#189 update(platfrom): add permissions section in the BYOC docs
  docs/platform/howto/byoc/create-custom-cloud.md
Labels: review/TW, platform

#151 update(postgresql): min & max client connection number per pool & service
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/postgresql/concepts/pg-connection-pooling.md
Labels: service/postgre, review/SME, review/awaitingRelease, tech

#192 fix: managed users introduction
  docs/platform/concepts/managed-users.md
Labels: review/TW, platform

#195 update: extract css from Badge component
  src/components/Badges/EarlyBadge/index.tsx
  src/components/Badges/EarlyBadge/styles.module.css
  src/components/Badges/LimitedBadge/index.tsx
  src/components/Badges/LimitedBadge/styles.module.css
  src/components/Badges/ProBadge/index.tsx
  src/components/Badges/ProBadge/styles.module.css
  src/components/Badges/styles.module.css
Labels: tech

#114 update(platform): auth policy settings
  docs/platform/concepts/managed-users.md
  docs/platform/howto/manage-domains.md
  docs/platform/howto/set-authentication-policies.md
Labels: platform, review/awaitingRelease

#193 fix: icons for users, app users, and groups
  docs/platform/howto/create_new_service_user.md
  src/components/ConsoleIcons/index.tsx
Labels: review/TW, platform, tech

#194 add(platform): wireguard port in firewall config
  docs/platform/concepts/aiven-node-firewall-configuration.md
Labels: review/TW, platform

#197 fix: okta idp instructions
  docs/platform/howto/saml/add-okta-idp.md
Labels: review/TW, platform

#191 add: Custom dictionary files for OS
  docs/products/opensearch/howto/custom-dictionary-files.md
  docs/products/opensearch/howto/set_index_retention_patterns.md
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
Labels: review/SME, tech, service/opensearch

#204 update: SEO fixes
  docs/platform/concepts/byoc.md
  docs/platform/howto/byoc/create-custom-cloud.md
  docs/platform/reference/project-member-privileges.md
Labels: platform

#205 update: teams are no longer beta
  docs/tools/terraform/howto/migrate-from-teams-to-groups.md
Labels: tool/terraform

#206 update: TF code blocks to hcl
  docs/products/kafka/karapace/howto/manage-schema-registry-authorization.md
  docs/tools/terraform/get-started.md
  docs/tools/terraform/howto/config-postgresql-provider.md
  docs/tools/terraform/howto/promote-to-master-pg-rr.md
  docs/tools/terraform/howto/upgrade-provider-v1-v2.md
  docs/tools/terraform/howto/upgrade-provider-v2-v3.md
  docs/tools/terraform/howto/upgrade-provider-v3-v4.md
  docs/tools/terraform/howto/use-opentofu.md
Labels: service/kafka, review/TW, tool/terraform

#210 update: remove cli commands for tickets
  docs/tools/cli/ticket.md
  sidebars.ts
  static/_redirects
Labels: review/TW, tool/cli

#196 fix: remove extra comment in supported ClickHouse IO formats
  .gitignore
  docs/products/clickhouse/reference/supported-input-output-formats.md
Labels: service/clickhouse

#209 update: linking profiles to IdPs
  docs/platform/howto/saml/add-identity-providers.md
Labels: review/TW, platform

#198 update(clickhouse): add clouds supporting tiered storage
  docs/products/clickhouse/concepts/clickhouse-tiered-storage.md
  docs/products/clickhouse/howto/enable-tiered-storage.md
Labels: service/clickhouse

#207 update: kpow documentation to use latest screenshots and links
  docs/products/kafka/howto/kpow.md
  static/images/content/products/kafka/kpow.jpg
Labels: service/kafka

#92 update: Flink ref doc link version to 1.16
  docs/products/flink/concepts/checkpoints.md
  docs/products/flink/concepts/event-processing-time.md
  docs/products/flink/concepts/kafka-connector-requirements.md
  docs/products/flink/concepts/watermarks.md
  docs/products/flink/concepts/windows.md
  docs/products/flink/howto/connect-pg.md
  docs/products/kafka/howto/flink-with-aiven-for-kafka.md
Labels: service/flink, service/kafka, review/TW

#214 fix(integrations): bigquery integration supported for Flink only
  docs/integrations/google-bigquery.md
  docs/products/flink/howto/connect-bigquery.md
  sidebars.ts
  static/_redirects
Labels: service/flink, review/TW

#211 update(postgresql): pgbouncer stats improvements
  docs/products/postgresql/howto/pgbouncer-stats.md
Labels: service/postgre, review/TW

#216 add: flink dates
  docs/platform/reference/eol-for-major-versions.md
Labels: platform

#213 update: pools UI label to connection pools
  docs/products/postgresql/howto/manage-pool.md
  docs/products/postgresql/howto/optimize-pg-slow-queries.md
  docs/products/postgresql/howto/pgbouncer-stats.md
  src/components/ConsoleIcons/index.tsx
Labels: service/postgre, review/TW, tech

#212 update: billing permissions
  docs/platform/concepts/hourly-billing-model.md
  docs/platform/howto/billing-assign-projects.md
  docs/platform/howto/change-billing-contact.md
  docs/platform/howto/create-billing-groups.md
  docs/platform/howto/list-billing.md
  docs/platform/howto/update-tax-status.md
  docs/platform/howto/use-billing-groups.md
  sidebars.ts
  static/_redirects
Labels: review/SME, platform

#219 update: removed ® trademark from Caching across docs
  .github/vale/styles/Aiven/First_Caching_is_registered copy.yml
  docs/platform/concepts/free-plan.md
  docs/platform/concepts/maintenance-window.md
  docs/platform/concepts/service-forking.md
  docs/platform/concepts/service_backups.md
  docs/platform/howto/integrations/prometheus-metrics.md
  docs/platform/howto/migrate-services-cloud-region.md
  docs/platform/howto/migrate-services-vpc.md
  docs/platform/howto/search-services.md
  docs/platform/howto/use-azure-privatelink.md
  docs/products/caching.md
  docs/products/caching/concepts/high-availability-redis.md
  docs/products/caching/concepts/lua-scripts-caching.md
  docs/products/caching/concepts/memory-usage.md
  docs/products/caching/concepts/overview.md
  docs/products/caching/concepts/restricted-redis-commands.md
  docs/products/caching/get-started.md
  docs/products/caching/howto/benchmark-performance.md
  docs/products/caching/howto/configure-acl-permissions.md
  docs/products/caching/howto/connect-go.md
  docs/products/caching/howto/connect-java.md
  docs/products/caching/howto/connect-node.md
  docs/products/caching/howto/connect-php.md
  docs/products/caching/howto/connect-python.md
  docs/products/caching/howto/connect-redis-cli.md
  docs/products/caching/howto/estimate-max-number-of-connections.md
  docs/products/caching/howto/list-code-samples.md
  docs/products/caching/howto/manage-ssl-connectivity.md
  docs/products/caching/howto/migrate-redis-aiven-cli.md
  docs/products/caching/howto/migrate-redis-aiven-via-console.md
  docs/products/caching/howto/migrate-redis-db.md
  docs/products/caching/howto/warning-overcommit_memory.md
  docs/products/caching/reference/advanced-params.md
  docs/products/caching/troubleshooting/troubleshoot-redis-connection-issues.md
  docs/products/dragonfly.md
  docs/products/dragonfly/get-started.md
  docs/products/dragonfly/howto/migrate-aiven-caching-df-console.md
  docs/products/kafka/kafka-connect/howto/redis-streamreactor-sink.md
  docs/products/opensearch/howto/opensearch-log-integration.md
  docs/tools/cli/service-cli.md
  docs/tools/cli/service/connection-info.md
  docs/tools/cli/service/user.md
  docs/tools/kubernetes.md
  docs/tools/terraform/get-started.md
  static/_redirects
Labels: service/kafka, service/dragonfly, platform, tech, tool/terraform, tool/cli

#220 add(platform): console icon for byoc
  docs/platform/howto/byoc/add-customer-info-custom-cloud.md
  docs/platform/howto/byoc/assign-project-custom-cloud.md
  docs/platform/howto/byoc/create-custom-cloud.md
  docs/platform/howto/byoc/delete-custom-cloud.md
  docs/platform/howto/byoc/enable-byoc.md
  docs/platform/howto/byoc/rename-custom-cloud.md
  src/components/ConsoleIcons/index.tsx
Labels: review/TW, platform, tech

#221 update: modified TOC link for Flink applications page
  docs/products/flink/howto/create-integration.md
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
Labels: service/flink, tech

#172 add(platform): byoc avn client commands
  docs/tools/cli/byoc.md
  sidebars.ts
Labels: review/TW, tool/cli

#225 update: advanced parameter template
  .github/workflow-config/labeling-rules.yaml
  .github/workflows/update-adv-params-all.yaml
  Makefile
  docs/products/postgresql/reference/advanced-params.md
  scripts/service_type_parser.js
  src/css/custom.css
  static/includes/config-caching.md
  static/includes/config-cassandra.md
  static/includes/config-clickhouse.md
  static/includes/config-dragonfly.md
  static/includes/config-flink.md
  static/includes/config-grafana.md
  static/includes/config-kafka.md
  static/includes/config-kafka_connect.md
  static/includes/config-kafka_mirrormaker.md
  static/includes/config-m3aggregator.md
  static/includes/config-m3db.md
  static/includes/config-mysql.md
  static/includes/config-opensearch.md
  static/includes/config-pg.md
Labels: service/postgre, review/TW, tech

#208 update: the 'request a new extension' section
  docs/products/postgresql/howto/manage-extensions.md
Labels: service/postgre, review/TW

#169 update(platform): service disk autoscaler GA
  docs/platform/howto/disk-autoscaler.md
  docs/platform/howto/scale-services.md
Labels: platform, review/awaitingRelease

#226 update: redirect Terraform VPC articles to examples
  docs/platform/howto/vnet-peering-azure.md
  docs/tools/terraform/howto/vnet-peering-azure.md
  docs/tools/terraform/howto/vpc-peering-aws.md
  docs/tools/terraform/howto/vpc-peering-gcp.md
  docs/tools/terraform/list-vpc-terraform.md
  sidebars.ts
  static/_redirects
Labels: review/TW, platform, tool/terraform

#199 add(platform): make application users super admin
  docs/platform/concepts/application-users.md
  docs/platform/howto/make-super-admin.md
  docs/platform/howto/manage-application-users.md
  src/components/ConsoleIcons/index.tsx
Labels: review/TW, platform, tech

#228 fix: clarify permissions for billing groups access
  docs/platform/concepts/billing-groups.md
Labels: review/TW, platform
