Repository aiven/aiven-docs, pull requests merged in 2024-08, with the labels that each got.

#356 update(platform): azure private link early availability
  docs/platform/howto/use-azure-privatelink.md
Labels: review/TW, platform

#355 fix(postgresql): add a missing argument to the stop logical replication command
  docs/products/postgresql/howto/setup-logical-replication.md
Labels: service/postgre, review/TW

#368 update: use helper and display defaults
  scripts/service_type_parser.js
  src/css/custom.css
  static/includes/config-caching.md
  static/includes/config-cassandra.md
  static/includes/config-clickhouse.md
  static/includes/config-dragonfly.md
  static/includes/config-flink.md
  static/includes/config-grafana.md
  static/includes/config-kafka.md
  static/includes/config-kafka_connect.md
  static/includes/config-kafka_mirrormaker.md
  static/includes/config-m3aggregator.md
  static/includes/config-m3db.md
  static/includes/config-mysql.md
  static/includes/config-opensearch.md
  static/includes/config-pg.md
  static/includes/config-valkey.md
Labels: tech

#340 add: Apache Kafka topic catalog
  docs/products/kafka/concepts/topic-catalog-overview.md
  docs/products/kafka/howto/manage-topics-details.md
  docs/products/kafka/howto/view-kafka-topic-catalog.md
  sidebars.ts
Labels: service/kafka, review/awaitingRelease

#342 add: Governance overview and enabling content
  docs/products/kafka/concepts/governance-overview.md
  docs/products/kafka/howto/approvals.md
  docs/products/kafka/howto/claim-topic.md
  docs/products/kafka/howto/enable-governance.md
  docs/products/kafka/howto/governance.md
  docs/products/kafka/howto/group-requests.md
  docs/products/kafka/howto/manage-resource-requests.md
  docs/products/kafka/howto/view-kafka-topic-catalog.md
  package.json
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
  yarn.lock
Labels: service/kafka, review/awaitingRelease, tech

#370 update(platform): azure private link contact for enablement removal
  docs/platform/howto/use-azure-privatelink.md
Labels: review/TW, platform

#373 fix: impact of govenanace topic creation
  docs/products/kafka/howto/enable-governance.md
Labels: service/kafka, review/TW

#372 add: Enable follower fetching via API
  docs/products/kafka/howto/enable-follower-fetching.md
  src/components/ConsoleIcons/index.tsx
Labels: service/kafka, review/TW, tech

#375 fix(mysql): duplicated parameter in the check migration commands
  docs/products/mysql/howto/do-check-service-migration.md
Labels: service/mysql

#374 fix: use unique svg ids
  docusaurus.config.ts
  src/plugins/svg-fix/index.ts
Labels: tech

#311 fix: Kafka tiered storage GA
  docs/products/kafka/concepts/kafka-tiered-storage.md
  docs/products/kafka/concepts/tiered-storage-guarantees.md
  docs/products/kafka/concepts/tiered-storage-how-it-works.md
  docs/products/kafka/concepts/tiered-storage-limitations.md
  docs/products/kafka/howto/configure-topic-tiered-storage.md
  docs/products/kafka/howto/create-topic.md
  docs/products/kafka/howto/create-topics-automatically.md
  docs/products/kafka/howto/enable-kafka-tiered-storage.md
  docs/products/kafka/howto/kafka-tiered-storage-get-started.md
  docs/products/kafka/howto/tiered-storage-overview-page.md
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-mongodb.md
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-mysql.md
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-pg.md
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-sql-server.md
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
Labels: service/kafka, review/awaitingRelease, tech

#333 update(cassandra): getting started
  docs/platform/concepts/service_backups.md
  docs/products/cassandra/get-started.md
Labels: service/cassandra, review/TW, platform

#379 update: add vale rule and fix linting errors
  .github/vale/styles/Aiven/ForbiddenWords.yml
  .github/vale/styles/Aiven/Wordiness-error.yml
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/platform/concepts/authentication-tokens.md
  docs/platform/concepts/service-resources.md
  docs/platform/howto/attach-vpc-aws-tgw.md
  docs/platform/howto/byoc/networking-security.md
  docs/platform/howto/google-cloud-functions.md
  docs/platform/howto/integrations/datadog-increase-metrics-limit.md
  docs/platform/howto/okta-user-provisioning-with-scim.md
  docs/platform/howto/support.md
  docs/platform/howto/technical-emails.md
  docs/platform/howto/user-2fa.md
  docs/products/caching/howto/benchmark-performance.md
  docs/products/cassandra/howto/use-dsbulk-with-cassandra.md
  docs/products/clickhouse/howto/copy-data-across-instances.md
  docs/products/clickhouse/reference/limitations.md
  docs/products/flink/howto/manage-flink-tables.md
  docs/products/flink/howto/upgrade-flink-version.md
  docs/products/kafka/concepts/auth-types.md
  docs/products/kafka/concepts/monitor-consumer-group.md
  docs/products/kafka/concepts/upgrade-procedure.md
  docs/products/kafka/howto/connect-with-go.md
  docs/products/kafka/howto/connect-with-java.md
  docs/products/kafka/howto/connect-with-nodejs.md
  docs/products/kafka/howto/connect-with-python.md
  docs/products/kafka/howto/datadog-customised-metrics.md
  docs/products/kafka/howto/flink-with-aiven-for-kafka.md
  docs/products/kafka/howto/kafka-conduktor.md
  docs/products/kafka/howto/kafka-streams-with-aiven-for-kafka.md
  docs/products/kafka/howto/keystore-truststore.md
  docs/products/kafka/howto/kpow.md
  docs/products/kafka/howto/manage-quotas.md
  docs/products/kafka/kafka-connect/howto/bring-your-own-kafka-connect-cluster.md
  docs/products/kafka/kafka-connect/howto/jdbc-sink.md
  docs/products/kafka/kafka-connect/howto/kafka-connect-debezium-tls-pg.md
  docs/products/kafka/kafka-mirrormaker/howto/integrate-external-kafka-cluster.md
  docs/products/kafka/reference/kafka-metrics-prometheus.md
  docs/products/m3db/howto/monitoring.md
  docs/products/mysql/howto/connect-from-cli.md
  docs/products/opensearch/concepts/indices.md
  docs/products/opensearch/howto/enable-opensearch-security.md
  docs/products/opensearch/howto/opensearch-log-integration.md
  docs/products/opensearch/howto/opensearch-search-and-python.md
  docs/products/opensearch/reference/restapi-limited-access.md
  docs/products/postgresql/howto/connect-rivery.md
  docs/products/postgresql/howto/create-manual-backups.md
  docs/products/postgresql/howto/pg-object-size.md
  docs/products/postgresql/howto/prevent-full-disk.md
  docs/products/postgresql/howto/repair-pg-index.md
  docs/products/postgresql/howto/upgrade.md
  docs/tools/aiven-console/howto/create-manage-teams.md
  docs/tools/terraform/howto/migrate-from-teams-to-groups.md
Labels: service/flink, service/kafka, service/cassandra, service/postgre, service/mysql, service/clickhouse, service/m3db, platform, tech, service/caching, tool/terraform

#381 update: Improve PrivateLink howto doc
  docs/platform/howto/use-aws-privatelinks.md
  static/images/content/platform/howto/use-aws-privatelink_image1.png
  static/images/content/platform/howto/use-aws-privatelink_image2.png
Labels: platform

#383 fix: missing icons for governance
  docs/products/kafka/howto/approvals.md
  package.json
  src/components/ConsoleIcons/index.tsx
  yarn.lock
Labels: service/kafka, tech

#384 update: insert "create service" docs in get started pages
  .github/vale/styles/Google/LyHyphens.yml
  docs/platform/howto/create_new_service.md
  docs/products/caching/get-started.md
  docs/products/cassandra/get-started.md
  docs/products/clickhouse/get-started.md
  docs/products/dragonfly/get-started.md
  docs/products/flink/get-started.md
  docs/products/grafana/get-started.md
  docs/products/kafka/get-started.md
  docs/products/metrics/get-started.md
  docs/products/mysql/get-started.md
  docs/products/opensearch/get-started.md
  docs/products/postgresql/get-started.md
  docs/products/valkey/get-started.md
  static/includes/cli-help.md
  static/includes/create-service-console.md
Labels: service/flink, service/kafka, service/cassandra, service/postgre, service/mysql, service/clickhouse, service/dragonfly, review/TW, platform, tech, service/caching

#385 update(BYOC): promote byoc docs in the doc set
  sidebars.ts
  src/components/HomepageFeatures/index.tsx
  static/images/icons/home/cloud.svg
Labels: review/TW, tech

#378 update: follower fetching content updated to include GCP
  docs/products/kafka/concepts/follower-fetching.md
  docs/products/kafka/howto/enable-follower-fetching.md
Labels: service/kafka, review/TW

#293 update(platform): BYOC GCP LA MS1
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/platform/concepts/byoc.md
  docs/platform/howto/byoc/add-customer-info-custom-cloud.md
  docs/platform/howto/byoc/assign-project-custom-cloud.md
  docs/platform/howto/byoc/create-custom-cloud.md
  docs/platform/howto/byoc/delete-custom-cloud.md
  docs/platform/howto/byoc/download-infrastructure-template.md
  docs/platform/howto/byoc/enable-byoc.md
  docs/platform/howto/byoc/rename-custom-cloud.md
  docs/platform/howto/byoc/tag-custom-cloud-resources.md
  sidebars.ts
  static/images/content/figma/byoc-aws-public.png
  static/images/content/figma/byoc-gcp-private.png
  static/images/content/figma/byoc-gcp-public.png
Labels: platform, review/awaitingRelease, tech

#382 fix: update MySQL Debezium Connector doc to version 2.5
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-mysql.md
  src/components/ConsoleIcons/index.tsx
  static/includes/debezium-breakingchange.md
Labels: service/kafka, review/SME, review/TW, tech

#391 update: bump docusaurus to 3.5
  package.json
  src/theme/DocCard/index.tsx
  src/theme/DocItem/Content/index.tsx
  yarn.lock
Labels: tech

#393 add: Content for IBM MQ sink connector
  docs/products/kafka/kafka-connect/howto/ibm-mq-sink-connector.md
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
Labels: service/kafka, review/SME, tech

#380 update: add AWS to free plan hosting
  docs/platform/concepts/free-plan.md
Labels: platform, review/awaitingRelease

#388 fix: remove trademark for Aiven for Metrics
  docs/products/metrics.md
  docs/products/metrics/concepts.md
  docs/products/metrics/concepts/retention-rules.md
  docs/products/metrics/concepts/storage-resource-scaling.md
  docs/products/metrics/howto/list-data-migration.md
Labels: review/SME, review/TW, service/thanos-metrics

#390 add: Add network range limitation note for creating new a VPC
  docs/platform/howto/manage-vpc-peering.md
Labels: platform

#400 update: billing overview and TOC
  docs/platform/concepts/billing-and-payment.md
  docs/platform/concepts/billing-groups.md
  docs/platform/concepts/corporate-billing.md
  docs/platform/concepts/hourly-billing-model.md
  docs/platform/concepts/orgs-units-projects.md
  docs/platform/concepts/tax-information.md
  docs/platform/howto/list-billing.md
  docs/platform/howto/payment-issues-plan-upgrades.md
  docs/platform/howto/payment-methods.md
  docs/platform/howto/update-tax-status.md
  sidebars.ts
  static/_redirects
Labels: review/TW, platform

#402 update(SEO): increase ranking of SAML-related topics
  docs/platform/howto/add-authentication-method.md
  docs/platform/howto/list-identity-providers.md
  docs/platform/howto/list-user.md
  docs/platform/howto/okta-user-provisioning-with-scim.md
  docs/platform/howto/saml/add-auth0-idp.md
  docs/platform/howto/saml/add-azure-idp.md
  docs/platform/howto/saml/add-fusionauth-idp.md
  docs/platform/howto/saml/add-google-idp.md
  docs/platform/howto/saml/add-identity-providers.md
  docs/platform/howto/saml/add-jumpcloud-idp.md
  docs/platform/howto/saml/add-okta-idp.md
  docs/platform/howto/saml/add-onelogin-idp.md
  sidebars.ts
Labels: review/TW

#406 fix: broken link to pg docs
  docs/products/postgresql/howto/migrate-aiven-db-migrate.md
Labels: service/postgre, review/TW

#4 add(clickhouse): credentials integration
  docs/products/clickhouse/concepts/data-integration-overview.md
  docs/products/clickhouse/howto/copy-data-across-instances.md
  docs/products/clickhouse/howto/data-service-integration.md
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
Labels: service/clickhouse, review/awaitingRelease, tech

#403 update: token naming
  docs/platform/concepts/application-users.md
  docs/platform/concepts/authentication-tokens.md
  docs/platform/howto/create_authentication_token.md
  docs/platform/howto/support.md
  docs/products/cassandra/get-started.md
  docs/products/clickhouse/get-started.md
  docs/products/flink/get-started.md
  docs/products/kafka/howto/enable-follower-fetching.md
  docs/products/kafka/howto/fake-sample-data.md
  docs/products/kafka/howto/kafka-sasl-auth.md
  docs/products/mysql/get-started.md
  docs/products/postgresql/get-started.md
  docs/tools/aiven-console.md
  docs/tools/api.md
  docs/tools/cli.md
  docs/tools/cli/user.md
  docs/tools/cli/user/user-access-token.md
  docs/tools/kubernetes.md
  docs/tools/terraform/get-started.md
  docs/tools/terraform/howto/use-opentofu.md
Labels: service/flink, service/kafka, service/cassandra, service/postgre, service/mysql, service/clickhouse, review/SME, platform, tool/terraform, tool/cli

#409 update: kafka connectors pages
  docs/products/kafka/kafka-connect/concepts/list-of-connector-plugins.md
  docs/products/kafka/kafka-connect/howto/list-sink-connectors.md
  sidebars.ts
  static/_redirects
Labels: service/kafka

#410 update: Kafka disk write lock triggers at 95% not 97%
  docs/products/kafka/howto/prevent-full-disks.md
  src/components/ConsoleIcons/index.tsx
Labels: service/kafka, tech

#411 update: remove empty landing pages flink/kafka
  docs/products/flink/get-started.md
  docs/products/flink/howto/list-flink-table-integrations.md
  docs/products/flink/howto/list-flink-tables.md
  docs/products/flink/howto/list-integrations.md
  docs/products/kafka/kafka-connect/concepts.md
  docs/products/kafka/kafka-connect/howto.md
  docs/products/kafka/kafka-connect/howto/list-admin.md
  docs/products/kafka/kafka-connect/reference.md
  docs/products/kafka/kafka-mirrormaker/concepts.md
  docs/products/kafka/kafka-mirrormaker/howto.md
  docs/products/kafka/kafka-mirrormaker/reference.md
  docs/products/kafka/karapace/concepts.md
  docs/products/kafka/karapace/howto.md
  sidebars.ts
  static/_redirects
Labels: service/flink, service/kafka

#412 update: remove empty landing pages
  docs/products/cassandra/howto.md
  docs/products/clickhouse/concepts.md
  docs/products/clickhouse/howto.md
  docs/products/clickhouse/howto/list-manage-service.md
  docs/products/clickhouse/reference.md
  docs/products/dragonfly/howto.md
  docs/products/dragonfly/howto/list-migrate-data.md
  docs/products/dragonfly/reference.md
  docs/products/mysql/concepts.md
  docs/products/mysql/howto.md
  docs/products/mysql/reference.md
  docs/products/postgresql/concepts.md
  docs/products/postgresql/howto.md
  docs/products/postgresql/howto/list-dba-tasks.md
  docs/products/postgresql/howto/list-integrations.md
  docs/products/postgresql/howto/list-replication-migration.md
  docs/products/postgresql/howto/list-replication.md
  docs/products/postgresql/reference.md
  docs/products/postgresql/troubleshooting.md
  sidebars.ts
  static/_redirects
Labels: service/cassandra, service/postgre, service/mysql, service/clickhouse, service/dragonfly

#414 fix: replace BigQuery reference in snowflake-sink-prereq.md
  docs/products/kafka/kafka-connect/howto/snowflake-sink-prereq.md
Labels: service/kafka

#415 update: remove empty landing pages
  docs/products/caching/howto/list-dba-tasks.md
  docs/products/grafana/howto.md
  docs/products/grafana/reference.md
  docs/products/m3db/concepts.md
  docs/products/metrics/concepts.md
  docs/products/metrics/howto.md
  docs/products/metrics/howto/list-data-migration.md
  docs/products/opensearch/dashboards.md
  docs/products/opensearch/dashboards/howto.md
  docs/products/opensearch/howto.md
  docs/products/opensearch/howto/list-access-control.md
  docs/products/opensearch/howto/list-data-management.md
  sidebars.ts
  static/_redirects
Labels: service/m3db, review/TW, service/caching

#416 update: consolidate billing docs
  docs/platform/howto/create-billing-groups.md
  docs/platform/howto/use-billing-groups.md
  sidebars.ts
  static/_redirects
Labels: review/TW, platform

#419 update: Table engines supported by ClickHouse
  docs/products/clickhouse/reference/supported-table-engines.md
Labels: service/clickhouse

#425 add: missing connector metrics
  docs/products/kafka/kafka-connect/reference/connect-metrics-prometheus.md
Labels: service/kafka, review/TW

#426 fix: Kafdrop instructions for Mac users
  docs/products/kafka/howto/kafdrop.md
Labels: service/kafka, review/TW

#428 add: trademark for Aiven for Valkey
  docs/products/valkey.md
  docs/products/valkey/get-started.md
  docs/products/valkey/howto/connect-go.md
  docs/products/valkey/howto/connect-java.md
  docs/products/valkey/howto/connect-node.md
  docs/products/valkey/howto/connect-php.md
  docs/products/valkey/howto/connect-python.md
  docs/products/valkey/howto/connect-services.md
  docs/products/valkey/reference/advanced-params.md
  sidebars.ts
Labels: review/SME, review/TW, service/valkey

#430 add: kafka lag predictor metrics example [HH-2562]
  docs/products/kafka/howto/enabled-consumer-lag-predictor.md
Labels: service/kafka
