Repository aiven/aiven-docs, pull requests merged in 2024-07, with the labels that each got.

#247 update: teams migration guides deprecation info
  docs/tools/aiven-console/howto/create-manage-teams.md
  docs/tools/terraform/howto/migrate-from-teams-to-groups.md
Labels: review/awaitingRelease, tool/terraform

#308 fix(platform): support tier fix for BYOC
  docs/platform/howto/byoc/create-custom-cloud.md
Labels: review/TW, platform

#310 fix(platform): support tier for byoc
  docs/platform/howto/byoc/create-custom-cloud.md
Labels: review/TW, platform

#313 fix: match variable names with variable placeholder
  docs/products/cassandra/howto/connect-python.md
Labels: service/cassandra

#316 fix: forking instructions
  docs/platform/concepts/service-forking.md
Labels: platform

#298 add(platform): BYOC networking and security
  docs/platform/howto/byoc/networking-security.md
  sidebars.ts
Labels: platform

#317 add: full product names
  sidebars.ts
Labels: review/TW

#318 update: Update enable-schema-registry-authorization.md
  docs/products/kafka/karapace/howto/enable-schema-registry-authorization.md
Labels: service/kafka

#319 update(mysql): connect-with-java.md
  docs/products/mysql/howto/connect-with-java.md
Labels: service/mysql

#320 update(platform): Remove reference to support for SBOM
  docs/platform/concepts/cloud-security.md
Labels: platform

#255 add(clickhouse): create dictionaries
  docs/products/clickhouse/concepts/disaster-recovery.md
  docs/products/clickhouse/howto/create-dictionary.md
  sidebars.ts
Labels: service/clickhouse, review/SME

#326 fix: metrics typo
  docs/products/metrics/concepts.md
Labels: review/TW

#314 update: categorize TOC
  docs/get-started.md
  docs/integrations.md
  docs/products/services.md
  docs/tools.md
  docs/tools/aiven-console.md
  docusaurus.config.ts
  sidebars.ts
  src/components/AivenCard/index.tsx
  src/components/AivenCard/styles.module.css
  src/components/GridContainer/index.tsx
  src/components/GridContainer/styles.module.css
  src/components/HomepageFeatures/index.tsx
  src/css/custom.css
  static/_redirects
  static/images/logos/cassandra.svg
  static/images/logos/clickhouse.svg
  static/images/logos/dragonfly.svg
  static/images/logos/elasticsearch.svg
  static/images/logos/flink.svg
  static/images/logos/grafana.svg
  static/images/logos/icon-cassandra.svg
  static/images/logos/icon-clickhouse.svg
  static/images/logos/icon-dragonfly.svg
  static/images/logos/icon-elasticsearch.svg
  static/images/logos/icon-flink.svg
  static/images/logos/icon-grafana.svg
  static/images/logos/icon-kafka-connect.svg
  static/images/logos/icon-kafka-mirrormaker.svg
  static/images/logos/icon-kafka.svg
  static/images/logos/icon-m3db.svg
  static/images/logos/icon-mysql.svg
  static/images/logos/icon-opensearch.png
  static/images/logos/icon-pg.svg
  static/images/logos/icon-redis.svg
  static/images/logos/kafka.svg
  static/images/logos/kafkaconnect.svg
  static/images/logos/kafkamirrormaker.svg
  static/images/logos/kubernetes.svg
  static/images/logos/mysql.svg
  static/images/logos/opensearch.svg
  static/images/logos/pg.svg
  static/images/logos/redis.svg
  static/images/logos/thanos.svg
  static/images/logos/valkey.svg
Labels: tech

#331 fix(clickhouse): getting started
  docs/products/clickhouse/get-started.md
Labels: service/clickhouse, review/TW

#321 add: InfluxDB and M3DB migration to Thanos Metrics
  docs/products/metrics/howto/migrate-influxdb-thanos.md
  docs/products/metrics/howto/migrate-m3db-thanos.md
  sidebars.ts
Labels: review/TW, service/thanos-metrics

#332 update(clickhouse): mention dictionaries_lazy_load = true setting
  docs/products/clickhouse/howto/create-dictionary.md
Labels: service/clickhouse

#292 fix: improve Kafka Prometheus metrics docs
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/kafka/kafka-connect/reference/connect-metrics-prometheus.md
  docs/products/kafka/reference/kafka-metrics-prometheus.md
  src/theme/DocCard/styles.module.css
Labels: service/kafka, review/TW, tech

#334 update: use cards where possible
  docs/products/cassandra/howto.md
  docs/products/cassandra/howto/list-get-started.md
  docs/products/clickhouse/howto.md
  docs/products/mysql/howto.md
  docs/products/mysql/howto/list-get-started.md
  docs/products/postgresql/howto.md
  docs/products/postgresql/howto/list-get-started.md
  sidebars.ts
  static/_redirects
Labels: service/cassandra, service/postgre, service/mysql, service/clickhouse, review/TW

#336 update: lint content
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/cassandra/concepts/tombstones.md
  docs/products/cassandra/howto/connect-cqlsh-cli.md
  docs/products/cassandra/howto/manage-cross-cluster-replication.md
  docs/products/cassandra/howto/use-dsbulk-with-cassandra.md
  docs/products/cassandra/howto/use-nosqlbench-with-cassandra.md
  docs/products/cassandra/howto/zdm-proxy.md
  docs/products/kafka/howto/change-retention-period.md
  docs/products/kafka/howto/kafka-conduktor.md
  docs/products/kafka/howto/kafka-sasl-auth.md
  docs/products/kafka/kafka-connect/concepts/jdbc-source-modes.md
  docs/products/kafka/kafka-connect/get-started.md
  docs/products/kafka/kafka-connect/howto/cassandra-streamreactor-source.md
  docs/products/kafka/kafka-connect/howto/couchbase-sink.md
  docs/products/kafka/kafka-connect/howto/couchbase-source.md
  docs/products/kafka/kafka-connect/howto/elasticsearch-sink.md
  docs/products/kafka/kafka-connect/howto/enable-automatic-restart.md
  docs/products/kafka/kafka-connect/howto/gcp-bigquery-sink-prereq.md
  docs/products/kafka/kafka-connect/howto/gcp-bigquery-sink.md
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-lite-sink.md
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-lite-source.md
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-sink.md
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-source.md
  docs/products/kafka/kafka-connect/howto/gcs-sink.md
  docs/products/kafka/kafka-connect/howto/http-sink.md
  docs/products/kafka/kafka-connect/howto/influx-sink.md
  docs/products/kafka/kafka-connect/howto/jdbc-source-connector-mysql.md
  docs/products/kafka/kafka-connect/howto/jdbc-source-connector-pg.md
  docs/products/kafka/kafka-connect/howto/jdbc-source-connector-sql-server.md
  docs/products/kafka/kafka-connect/howto/mongodb-poll-source-connector.md
  docs/products/kafka/kafka-connect/howto/mongodb-sink-lenses.md
  docs/products/kafka/kafka-connect/howto/mongodb-sink-mongo.md
  docs/products/kafka/kafka-connect/howto/mqtt-sink-connector.md
  docs/products/kafka/kafka-connect/howto/mqtt-source-connector.md
  docs/products/kafka/kafka-connect/howto/opensearch-sink.md
  docs/products/kafka/kafka-connect/howto/redis-streamreactor-sink.md
  docs/products/kafka/kafka-connect/howto/s3-iam-assume-role.md
  docs/products/kafka/kafka-connect/howto/s3-sink-connector-confluent.md
  docs/products/kafka/kafka-connect/howto/s3-sink-prereq.md
  docs/products/kafka/kafka-connect/howto/snowflake-sink.md
  docs/products/kafka/kafka-connect/howto/splunk-sink.md
  docs/products/kafka/kafka-connect/reference/s3-sink-additional-parameters-confluent.md
  docs/products/kafka/kafka-connect/reference/s3-sink-additional-parameters.md
  docs/products/kafka/troubleshooting/troubleshoot-consumer-disconnections.md
  docs/products/mysql/concepts/mysql-memory-usage.md
  docs/products/mysql/concepts/mysql-replication.md
  docs/products/mysql/concepts/mysql-tuning-and-concurrency.md
  docs/products/mysql/howto/connect-from-cli.md
  docs/products/mysql/howto/connect-with-php.md
  docs/products/mysql/howto/connect-with-python.md
  docs/products/mysql/howto/create-database.md
  docs/products/mysql/howto/create-missing-primary-keys.md
  docs/products/mysql/howto/create-tables-without-primary-keys.md
  docs/products/mysql/howto/disable-foreign-key-checks.md
  docs/products/mysql/howto/enable-slow-queries.md
  docs/products/mysql/howto/migrate-database-mysqldump.md
  docs/products/mysql/howto/migrate-db-to-aiven-via-console.md
  docs/products/postgresql.md
Labels: service/kafka, service/cassandra, service/mysql, tech

#323 fix: enable Kafka Connect on a Kafka service
  docs/products/kafka/kafka-connect/howto/enable-connect.md
Labels: service/kafka, review/awaitingRelease

#335 update(clickhouse): remove duplicated content
  docs/products/cassandra/get-started.md
  docs/products/cassandra/overview.md
  docs/products/clickhouse/howto/list-get-started.md
  docs/products/clickhouse/list-overview.md
  docs/products/mysql/overview.md
  docs/products/postgresql/howto/pagila.md
  docs/products/postgresql/overview.md
  sidebars.ts
  static/_redirects
Labels: service/cassandra, service/postgre, service/mysql, service/clickhouse, review/TW

#337 update: harmonize TOC entries
  docs/products/caching/concepts/overview.md
  docs/products/caching/get-started.md
  docs/products/grafana/get-started.md
  docs/products/kafka/get-started.md
  docs/products/m3db/get-started.md
  docs/products/opensearch/get-started.md
Labels: service/kafka, service/m3db, review/TW, service/caching

#325 add: Follower fetching in Kafka
  docs/products/kafka/concepts/follower-fetching.md
  docs/products/kafka/howto/enable-follower-fetching.md
  sidebars.ts
Labels: service/kafka, review/awaitingRelease

#338 update(platform): merge overview and landing pages for services
  docs/products/cassandra.md
  docs/products/cassandra/overview.md
  docs/products/mysql.md
  docs/products/mysql/overview.md
  docs/products/postgresql.md
  docs/products/postgresql/overview.md
  sidebars.ts
  static/_redirects
Labels: service/cassandra, service/postgre, service/mysql, review/TW

#322 update(platform): remove LA flag for SCIM
  docs/platform/howto/okta-user-provisioning-with-scim.md
  docs/platform/howto/saml/add-identity-providers.md
Labels: review/SME, platform, review/awaitingRelease

#339 update: remove overview section
  docs/products/clickhouse.md
  docs/products/clickhouse/concepts/features-overview.md
  docs/products/clickhouse/concepts/service-architecture.md
  docs/products/clickhouse/get-started.md
  docs/products/clickhouse/list-overview.md
  docs/products/clickhouse/reference/plans-pricing.md
  sidebars.ts
  static/_redirects
Labels: service/clickhouse

#341 add: Data migration landing page
  docs/products/metrics/howto/list-data-migration.md
  sidebars.ts
Labels: review/TW, service/thanos-metrics

#315 update: IdP instructions for UI changes
  docs/platform/howto/saml/add-identity-providers.md
Labels: platform, review/awaitingRelease

#343 update: merge overviews into main landing pages
  docs/products/caching.md
  docs/products/caching/concepts/overview.md
  docs/products/caching/howto/list-code-samples.md
  docs/products/caching/troubleshooting/troubleshoot-redis-connection-issues.md
  docs/products/dragonfly.md
  docs/products/dragonfly/concepts.md
  docs/products/dragonfly/concepts/ha-dragonfly.md
  docs/products/dragonfly/concepts/overview.md
  docs/products/dragonfly/howto/list-code-samples.md
  docs/products/dragonfly/howto/migrate-aiven-caching-df-console.md
  docs/products/dragonfly/howto/migrate-ext-redis-df-console.md
  docs/products/flink.md
  docs/products/flink/concepts/custom-jars.md
  docs/products/flink/concepts/flink-applications.md
  docs/products/flink/concepts/flink-architecture.md
  docs/products/flink/concepts/flink-features.md
  docs/products/flink/concepts/managed-service-features.md
  docs/products/flink/concepts/tables.md
  docs/products/flink/concepts/watermarks.md
  docs/products/flink/howto/create-flink-applications.md
  docs/products/flink/howto/create-jar-application.md
  docs/products/flink/howto/create-sql-application.md
  docs/products/flink/howto/list-flink-tables.md
  docs/products/flink/howto/manage-flink-applications.md
  docs/products/flink/list-overview.md
  docs/products/flink/reference/flink-limitations.md
  docs/products/flink/reference/plans-pricing.md
  docs/products/grafana.md
  docs/products/grafana/list-overview.md
  docs/products/grafana/reference/plans-pricing.md
  docs/products/kafka/kafka-connect/get-started.md
  docs/products/kafka/kafka-mirrormaker.md
  docs/products/kafka/kafka-mirrormaker/get-started.md
  docs/products/kafka/kafka-mirrormaker/howto/remove-mirrormaker-prefix.md
  docs/products/kafka/kafka-mirrormaker/howto/setup-replication-flow.md
  docs/products/kafka/kafka-mirrormaker/reference.md
  docs/products/kafka/kafka-mirrormaker/reference/terminology.md
  docs/products/kafka/karapace.md
  docs/products/kafka/karapace/get-started.md
  docs/products/metrics.md
  docs/products/metrics/concepts/metrics-overview.md
  docs/products/metrics/howto/migrate-influxdb-thanos.md
  docs/products/metrics/howto/migrate-m3db-thanos.md
  docs/products/opensearch.md
  docs/products/opensearch/concepts/high-availability-for-opensearch.md
  docs/products/opensearch/concepts/opensearch-security-considerations.md
  docs/products/opensearch/concepts/service-overview.md
  docs/products/opensearch/dashboards.md
  docs/products/opensearch/dashboards/get-started.md
  docs/products/opensearch/dashboards/howto.md
  docs/products/opensearch/list-overview.md
  docs/products/opensearch/reference/index-replication.md
  docs/products/opensearch/reference/plans-pricing.md
  docs/products/opensearch/troubleshooting.md
  docs/tools/kubernetes.md
  sidebars.ts
  static/_redirects
Labels: service/flink, service/kafka, service/dragonfly, review/TW, service/caching

#345 update(seo): increase get started specificity
  docs/products/kafka/kafka-connect/get-started.md
  docs/products/kafka/kafka-mirrormaker/get-started.md
  docs/products/opensearch/dashboards/get-started.md
  docs/tools/api.md
  docs/tools/cli.md
Labels: service/kafka, review/TW

#349 update: Kafka version 3.6 end of availability date
  docs/platform/reference/eol-for-major-versions.md
Labels: platform

#350 update: Kafka version 3.6 end of availability
  docs/platform/reference/eol-for-major-versions.md
Labels: platform

#347 update(cassandra): cassandra 4.0 service creation support date
  docs/platform/reference/eol-for-major-versions.md
Labels: service/cassandra, review/TW, platform

#312 add: details on 2FA
  docs/platform/howto/set-authentication-policies.md
  docs/platform/howto/user-2fa.md
  src/components/ConsoleIcons/index.tsx
Labels: review/SME, review/TW, platform, tech

#346 update: improve main getting started page
  docs/get-started.md
  sidebars.ts
  src/components/HomepageFeatures/index.tsx
  static/images/content/platform/platform-overview.webp
Labels: tech

#351 update(platform): promote the EoL for services and tools versions article
  docs/platform/reference/eol-for-major-versions.md
  sidebars.ts
Labels: review/TW, platform

#352 update(toc): move metrics and log to integrations
  docs/platform/howto/list-monitoring.md
  sidebars.ts
  static/_redirects
Labels: review/TW, platform

#348 add: Topic claim, approval and group request workflows
  docs/products/kafka/howto/approvals.md
  docs/products/kafka/howto/claim-topic.md
  docs/products/kafka/howto/group-requests.md
  docs/products/kafka/howto/manage-resource-requests.md
  package.json
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
  yarn.lock
Labels: service/kafka, review/TW, tech

#353 add(seo): use quick start as keywords for get started pages
  docs/get-started.md
  docs/products/caching/get-started.md
  docs/products/cassandra/get-started.md
  docs/products/clickhouse/get-started.md
  docs/products/dragonfly/get-started.md
  docs/products/flink/get-started.md
  docs/products/grafana/get-started.md
  docs/products/kafka/get-started.md
  docs/products/kafka/kafka-connect/get-started.md
  docs/products/kafka/kafka-mirrormaker/get-started.md
  docs/products/kafka/karapace/get-started.md
  docs/products/m3db/get-started.md
  docs/products/metrics/get-started.md
  docs/products/mysql/get-started.md
  docs/products/opensearch/dashboards/get-started.md
  docs/products/opensearch/get-started.md
  docs/products/postgresql/get-started.md
  docs/products/valkey/get-started.md
  docs/tools/terraform/get-started.md
Labels: service/flink, service/kafka, service/cassandra, service/postgre, service/mysql, service/clickhouse, service/dragonfly, service/m3db, service/caching, tool/terraform

#354 fix(cassandra): connect via cqlsh - fixes and improvements
  docs/products/cassandra/howto/connect-cqlsh-cli.md
Labels: service/cassandra, review/TW

#357 add: Follower fetching image
  docs/products/kafka/concepts/follower-fetching.md
  static/images/content/figma/follower-fetching.png
Labels: service/kafka, review/TW
