Repository aiven/aiven-docs, pull requests merged in 2024-12, with the labels that each got.

#578 add(valkey): metrics in prometheus
  docs/products/valkey/reference/valkey-metrics-in-prometheus.md
  sidebars.ts
Labels: review/TW, service/valkey, ic-balance-existing, ic-value-customer

#584 fix: metadescriptions
  docs/platform/howto/manage-organizations.md
  docs/platform/howto/manage-project.md
  docs/platform/reference/service-ip-address.md
  docs/products/caching/howto/connect-node.md
  docs/products/clickhouse/howto/connect-with-php.md
  docs/products/clickhouse/howto/list-connect-to-service.md
  docs/products/kafka/concepts/kafka-rest-api.md
  docs/products/kafka/howto/fake-sample-data.md
  docs/products/kafka/kafka-connect/howto/http-sink.md
  docs/products/kafka/kafka-connect/howto/opensearch-sink.md
  docs/products/kafka/kafka-mirrormaker/concepts/disaster-recovery/active-passive-setup.md
  docs/products/kafka/kafka-mirrormaker/concepts/mirrormaker2-tuning.md
  docs/products/kafka/karapace/concepts/acl-definition.md
  docs/products/mysql/concepts/max-number-of-connections.md
  docs/products/mysql/concepts/mysql-backups.md
  docs/products/mysql/howto/connect-from-cli.md
  docs/products/mysql/howto/connect-with-php.md
  docs/products/mysql/howto/list-code-samples.md
  docs/products/opensearch/concepts/opensearch-vs-elasticsearch.md
  docs/products/postgresql/concepts/dba-tasks-pg.md
  docs/products/postgresql/concepts/timescaledb.md
  docs/products/postgresql/howto/connect-node.md
  docs/products/postgresql/howto/connect-pgadmin.md
  docs/products/postgresql/howto/list-code-samples.md
  docs/products/valkey/howto/connect-valkey-cli.md
  docs/tools.md
  docs/tools/cli/cloud.md
Labels: service/kafka, service/postgresql, service/mysql, service/clickhouse, platform, service/caching, tool/cli, service/kafka_connect, service/kafka_mirrormaker

#581 update(BYOC): remove OCI and Azure providers from the BYOC docs
  docs/platform/concepts/byoc.md
  docs/platform/howto/byoc/create-custom-cloud.md
  docs/platform/howto/byoc/enable-byoc.md
Labels: review/TW, platform

#588 DOC 1244 fix seo warnings and errors
  docs/get-started.md
  docs/platform/howto/use-aws-privatelinks.md
  docs/platform/howto/vpc-peering-upcloud.md
  docs/products/kafka/concepts/upgrade-procedure.md
  docs/products/kafka/howto/kafka-quix.md
Labels: service/kafka, platform

#587 fix: Format of key/cert upon creation of ext kafka integration endpoint
  docs/products/flink/howto/ext-kafka-flink-integration.md
  docs/tools/cli/service/integration.md
Labels: service/flink, tool/cli

#592 fix: Typo in title
  docs/products/kafka/kafka-connect/reference/advanced-params.md
Labels: service/kafka, service/kafka_connect

#585 add: CLI for managing Apache Kafka native ACLs
  docs/tools/cli/service-cli.md
  docs/tools/cli/service/acl.md
  docs/tools/cli/service/kafka-acl.md
  sidebars.ts
Labels: review/TW, tool/cli

#563 add: Exactly-once delivery for MM2
  docs/products/kafka/kafka-mirrormaker/howto/exactly-once-delivery.md
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
Labels: service/kafka, review/awaitingRelease, tech, service/kafka_mirrormaker

#590 add: MirrorMaker troubleshooting section and first guide
  docs/products/kafka/kafka-mirrormaker/troubleshooting/topic-not-replicated.md
  docusaurus.config.ts
  sidebars.ts
Labels: service/kafka, service/kafka_mirrormaker

#594 update: cloud provider change
  docs/platform/concepts/free-plan.md
Labels: review/TW, platform

#580 add: Kafka-native ACLs
  docs/products/kafka/concepts/acl.md
  docs/products/kafka/howto/add-manage-service-users.md
  docs/products/kafka/howto/manage-acls.md
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
Labels: service/kafka, review/awaitingRelease, tech

#596 fix: Parameter formatting
  docs/products/kafka/kafka-mirrormaker/troubleshooting/topic-not-replicated.md
Labels: service/kafka, service/kafka_mirrormaker

#532 update: add org permissions and roles
  docs/platform/concepts/permissions.md
  docs/platform/howto/make-super-admin.md
  docs/platform/howto/manage-permissions.md
  src/components/ConsoleIcons/index.tsx
Labels: review/TW, platform, tech

#586 update(MirrorMaker): improve configuration concepts
  docs/products/kafka/kafka-mirrormaker/concepts/mirrormaker2-tuning.md
  docs/products/kafka/kafka-mirrormaker/howto/monitor-replication-execution.md
  sidebars.ts
Labels: service/kafka, service/kafka_mirrormaker

#605 update: harmonize label names
  .github/workflow-config/labeling-rules.yaml
Labels: tech

#608 update(postgresql): added PG 17 EOL dates
  docs/platform/reference/eol-for-major-versions.md
Labels: review/SME, review/TW, platform

#597 update: change super admin to org admin
  .vscode/aiven.code-snippets
  docs/get-started.md
  docs/platform/concepts/application-users.md
  docs/platform/concepts/billing-and-payment.md
  docs/platform/concepts/billing-groups-overview.md
  docs/platform/concepts/carbon-footprint.md
  docs/platform/concepts/managed-users.md
  docs/platform/concepts/tax-information.md
  docs/platform/concepts/user-access-management.md
  docs/platform/howto/billing-assign-projects.md
  docs/platform/howto/byoc/add-customer-info-custom-cloud.md
  docs/platform/howto/byoc/assign-project-custom-cloud.md
  docs/platform/howto/byoc/create-custom-cloud.md
  docs/platform/howto/byoc/delete-custom-cloud.md
  docs/platform/howto/byoc/download-infrastructure-template.md
  docs/platform/howto/byoc/enable-byoc.md
  docs/platform/howto/byoc/rename-custom-cloud.md
  docs/platform/howto/byoc/tag-custom-cloud-resources.md
  docs/platform/howto/change-your-email-address.md
  docs/platform/howto/download-invoices.md
  docs/platform/howto/manage-application-users.md
  docs/platform/howto/manage-payment-card.md
  docs/platform/howto/manage-project.md
  docs/platform/howto/support.md
  docs/platform/howto/use-billing-groups.md
  docs/platform/reference/get-resource-IDs.md
  docs/products/kafka/howto/enable-governance.md
Labels: service/kafka, review/TW, platform

#598 update: kafka topic exclusion conditions for datadog
  docs/products/kafka/howto/datadog-customised-metrics.md
Labels: service/kafka

#607 update: clarify M3DB service creation rules based on project inclusion
  docs/platform/reference/end-of-life.md
  docs/platform/reference/eol-for-major-versions.md
Labels: review/TW, platform

#606 update(BYOC): AWS (CLI & Console flows) + Google (Console flow)
  docs/platform/concepts/byoc.md
  docs/platform/howto/byoc/add-customer-info-custom-cloud.md
  docs/platform/howto/byoc/assign-project-custom-cloud.md
  docs/platform/howto/byoc/create-custom-cloud/create-aws-custom-cloud.md
  docs/platform/howto/byoc/create-custom-cloud/create-custom-cloud.md
  docs/platform/howto/byoc/create-custom-cloud/create-google-custom-cloud.md
  docs/platform/howto/byoc/delete-custom-cloud.md
  docs/platform/howto/byoc/download-infrastructure-template.md
  docs/platform/howto/byoc/enable-byoc.md
  docs/platform/howto/byoc/manage-byoc-service.md
  docs/platform/howto/byoc/networking-security.md
  docs/platform/howto/byoc/rename-custom-cloud.md
  docs/platform/howto/byoc/tag-custom-cloud-resources.md
  docs/platform/howto/byoc/view-custom-cloud-status.md
  docs/tools/cli/byoc.md
  sidebars.ts
  static/_redirects
  static/images/content/figma/byoc-how-it-works.png
Labels: platform, tool/cli

#611 update: remove cloud provider from free plan
  docs/platform/concepts/free-plan.md
Labels: review/TW, platform

#612 update: redirect migration instructions to TF docs
  docs/products/caching/howto/upgrade-aiven-for-caching-to-valkey.md
  docs/tools/terraform/howto/update-deprecated-resources.md
  docs/tools/terraform/howto/upgrade-caching-valkey-terraform.md
  sidebars.ts
  static/_redirects
Labels: service/caching, tool/terraform

#613 fix: links
  docs/platform/concepts/byoc.md
  docs/platform/howto/byoc/add-customer-info-custom-cloud.md
  docs/platform/howto/byoc/assign-project-custom-cloud.md
  docs/platform/howto/byoc/create-cloud/create-aws-custom-cloud.md
  docs/platform/howto/byoc/create-cloud/create-custom-cloud.md
  docs/platform/howto/byoc/create-cloud/create-google-custom-cloud.md
  docs/platform/howto/byoc/delete-custom-cloud.md
  docs/platform/howto/byoc/download-infrastructure-template.md
  docs/platform/howto/byoc/enable-byoc.md
  docs/platform/howto/byoc/networking-security.md
  docs/platform/howto/byoc/rename-custom-cloud.md
  docs/platform/howto/byoc/tag-custom-cloud-resources.md
  docs/tools/cli/byoc.md
  scripts/check_links.sh
  sidebars.ts
  static/_redirects
Labels: platform, tech, tool/cli
