Repository aiven/aiven-docs, pull requests merged in 2024-11, with the labels that each got.

#531 update(clickhouse): databases and tables updates to align with console changes
  docs/products/clickhouse/howto/check-data-tiered-storage.md
  docs/products/clickhouse/howto/enable-tiered-storage.md
  docs/products/clickhouse/howto/integration-databases.md
  docs/products/clickhouse/howto/list-tiered-storage.md
  docs/products/clickhouse/howto/load-dataset.md
  docs/products/clickhouse/howto/manage-databases-tables.md
  src/components/ConsoleIcons/index.tsx
Labels: service/clickhouse, review/TW, tech

#534 update: user and roles references
  docs/get-started.md
  docs/platform/concepts/orgs-units-projects.md
  docs/platform/concepts/permissions.md
  docs/platform/concepts/user-access-management.md
  docs/tools/aiven-console/howto/create-manage-teams.md
  docs/tools/terraform/howto/migrate-from-teams-to-groups.md
Labels: review/TW, platform, tool/terraform

#541 add: Slack notification
  .github/workflows/link-checker.yaml
Labels: tech

#540 update: add new project-level permissions
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/platform/concepts/permissions.md
Labels: review/TW, platform, tech

#509 add: Content for Apache Kafka® MirrorMaker 2 offset sync log analysis
  docs/products/kafka/kafka-mirrormaker/howto/log-analysis-offset-sync-tool.md
  sidebars.ts
Labels: service/kafka, review/TW

#527 add: Upgrade Caching to Valkey
  docs/products/caching/howto/upgrade-aiven-for-caching-to-valkey.md
  docs/tools/terraform/howto/upgrade-caching-valkey-terraform.md
  sidebars.ts
Labels: review/TW, service/caching, tool/terraform

#543 update(postgresql): remove the superuser extensions list
  docs/products/postgresql/reference/list-of-extensions.md
Labels: service/postgresql, review/TW, service/postgre

#535 update: IP filters label
  docs/platform/howto/restrict-access.md
Labels: platform, review/awaitingRelease

#545 update(BYOC): add byoc tag aiven client commands
  docs/platform/howto/byoc/tag-custom-cloud-resources.md
  docs/tools/cli/byoc.md
Labels: review/TW, platform, tool/cli

#547 fix: remove duplicate content in Kafka tiered storage overview
  docs/products/kafka/concepts/kafka-tiered-storage.md
Labels: service/kafka, review/TW

#536 update: default behavior of automatic topic creation
  docs/products/kafka/howto/create-topics-automatically.md
Labels: service/kafka, review/TW

#523 update: add SAML group syncing to IdP instructions
  docs/platform/howto/saml/add-auth0-idp.md
  docs/platform/howto/saml/add-azure-idp.md
  docs/platform/howto/saml/add-google-idp.md
  docs/platform/howto/saml/add-identity-providers.md
  docs/platform/howto/saml/add-jumpcloud-idp.md
  static/includes/idp-step3.md
Labels: review/SME, platform

#550 add(clickhouse): how to query a query log
  docs/products/clickhouse/howto/manage-databases-tables.md
  docs/products/clickhouse/howto/query-databases.md
Labels: service/clickhouse, review/TW

#552 add(clickhouse): how to query a query log
  docs/products/clickhouse/howto/manage-databases-tables.md
  docs/products/clickhouse/howto/query-databases.md
Labels: service/clickhouse

#548 update(postgresql): update SSL & certificate info
  docs/platform/concepts/tls-ssl-certificates.md
  docs/products/postgresql/howto/list-code-samples.md
Labels: review/TW, platform, service/postgre

#551 update: add Valkey to Dragonfly migration documentation
  docs/products/dragonfly/howto/migrate-aiven-caching-df-console.md
  docs/products/dragonfly/howto/migrate-ext-redis-df-console.md
  static/includes/dragonfly-limitations.md
Labels: service/dragonfly, review/TW

#546 add: Content on how to download influxDB data
  docs/products/metrics/concepts/storage-resource-scaling.md
  docs/products/metrics/howto/download-influxdb-data.md
  docs/products/metrics/howto/storage-usage.md
  sidebars.ts
Labels: review/awaitingRelease

#544 add: end of life for services
  docs/platform/reference/end-of-life.md
  docs/platform/reference/eol-for-major-versions.md
  sidebars.ts
  yarn.lock
Labels: platform, review/awaitingRelease

#553 update: add instructions for getting resource IDs
  docs/platform/reference/get-resource-IDs.md
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
Labels: review/TW, platform, tech

#556 update(postgresql): upgrade best practices
  docs/products/postgresql/howto/upgrade.md
Labels: service/postgresql, review/TW

#557 add(clickhouse): total storage limitation
  docs/products/clickhouse/reference/limitations.md
  docs/products/clickhouse/reference/plans-pricing.md
  static/includes/clickhouse-storage-limitation.md
Labels: service/clickhouse, review/TW

#558 update: add project-level permissions and roles
  .vscode/aiven.code-snippets
  docs/get-started.md
  docs/platform/concepts/permissions.md
  docs/platform/concepts/projects.md
  docs/platform/howto/add-groups-projects.md
  docs/platform/howto/add-project-members.md
  docs/platform/howto/make-super-admin.md
  docs/platform/howto/manage-vpc-peering.md
  docs/platform/reference/project-member-privileges.md
  docs/products/kafka/howto/enable-governance.md
  docs/products/kafka/howto/prevent-full-disks.md
  static/_redirects
Labels: service/kafka, review/TW, platform

#562 add(clickhouse kafka): cross link btw clickhouse sink connector and kafka engine integration
  docs/products/clickhouse/howto/integrate-kafka.md
  docs/products/kafka/kafka-connect/howto/clickhouse-sink-connector.md
Labels: service/kafka, service/clickhouse, review/SME, review/TW, service/kafka_connect

#555 update(aws-privatelink): add mirrormaker as not supported for aws privatelink
  docs/platform/howto/use-aws-privatelinks.md
Labels: review/TW, platform

#564 update(kafka): EOL dates for Kafka 3.8
  docs/platform/reference/eol-for-major-versions.md
Labels: platform

#561 add: instructions for downloading invoices
  docs/platform/howto/download-invoices.md
  sidebars.ts
Labels: review/TW, platform

#567 update(clickhouse): integration data flow and residency
  docs/products/clickhouse/concepts/data-integration-overview.md
Labels: service/clickhouse, review/TW

#568 update: correct the loc of redis_persistence setting
  docs/platform/concepts/service_backups.md
Labels: platform

#570 update: replace sales team address with billing team's email
  docs/platform/concepts/tax-information.md
  docs/platform/howto/payment-methods.md
Labels: platform

#572 update: remove LA tag from Kafka Connect with PostgreSQL integration
  docs/products/kafka/kafka-connect/howto/kafka-connect-debezium-tls-pg.md
Labels: service/kafka, review/TW, service/kafka_connect

#575 update: align Terraform and Kubernetes naming with brand guidelines
  .github/vale/styles/Aiven/Headings.yml
  docs/get-started.md
  docs/platform/concepts/application-users.md
  docs/platform/concepts/enhanced-compliance-env.md
  docs/platform/concepts/free-plan.md
  docs/platform/concepts/free-trial.md
  docs/platform/concepts/permissions.md
  docs/platform/howto/byoc/create-custom-cloud.md
  docs/platform/howto/disk-autoscaler.md
  docs/platform/howto/migrate-services-vpc.md
  docs/platform/howto/set-authentication-policies.md
  docs/platform/reference/eol-for-major-versions.md
  docs/products/caching.md
  docs/products/cassandra/get-started.md
  docs/products/clickhouse/get-started.md
  docs/products/flink/howto/upgrade-flink-version.md
  docs/products/grafana.md
  docs/products/grafana/concepts/grafana-features.md
  docs/products/kafka/howto/enable-follower-fetching.md
  docs/products/kafka/kafka-connect/howto/configure-aws-secrets-manager.md
  docs/products/kafka/kafka-connect/howto/configure-hashicorp-vault.md
  docs/products/kafka/karapace/howto/manage-schema-registry-authorization.md
  docs/products/opensearch/concepts/opensearch-security-considerations.md
  docs/products/opensearch/concepts/os-security.md
  docs/products/opensearch/howto/enable-opensearch-security.md
  docs/products/opensearch/howto/setup-cross-cluster-replication-opensearch.md
  docs/tools/kubernetes.md
  docs/tools/terraform/get-started.md
  sidebars.ts
  src/components/HomepageFeatures/index.tsx
Labels: service/flink, service/kafka, service/cassandra, service/clickhouse, review/TW, platform, tech, tool/terraform, service/kafka_connect

#576 fix: groups and permissions docs
  docs/get-started.md
  docs/platform/concepts/application-users.md
  docs/platform/concepts/orgs-units-projects.md
  docs/platform/concepts/permissions.md
  docs/platform/howto/add-groups-projects.md
  docs/platform/howto/add-project-members.md
  docs/platform/howto/list-groups.md
  docs/platform/howto/manage-groups.md
  docs/platform/howto/manage-permissions.md
  docs/tools/aiven-console/howto/create-manage-teams.md
  static/_redirects
Labels: review/TW, platform

#571 add: Metrics for OpenSearch via Prometheus
  docs/products/kafka/reference/kafka-metrics-prometheus.md
  docs/products/opensearch/howto/os-metrics.md
  sidebars.ts
  static/includes/host-metrics.md
Labels: service/kafka, review/SME, service/opensearch
