Repository aiven/aiven-docs, pull requests merged in 2024-10, with the labels that each got.

#476 update: Google Pub/Sub connector details and IAM roles
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-source.md
Labels: service/kafka, review/TW

#475 add: sql optimizer
  docs/products/postgresql/howto/migrate-cloud-region.md
  docs/products/postgresql/howto/optimize-pg-slow-queries.md
  docs/products/postgresql/howto/upgrade.md
  docs/tools.md
  docs/tools/query-optimizer.md
  sidebars.ts
  src/css/custom.css
  static/images/logos/star-ai.svg
  static/includes/faq-ai.md
Labels: service/postgre, review/TW, tech

#474 update: added topic filtering configuration for lag predictor
  docs/products/kafka/howto/enabled-consumer-lag-predictor.md
Labels: service/kafka, review/SME, review/TW

#478 update: caching haproxy timeout
  docs/products/caching/howto/manage-ssl-connectivity.md
  yarn.lock
Labels: review/TW, service/caching

#491 add(AlloyDB Omni): Aiven for AlloyDB Omni early availability docs
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  .github/workflow-config/labeling-rules.yaml
  .github/workflows/update-adv-params-all.yaml
  Makefile
  docs/products/alloydbomni.md
  docs/products/alloydbomni/access-ai-models.md
  docs/products/alloydbomni/advanced-params.md
  docs/products/alloydbomni/connect/connect-datagrip.md
  docs/products/alloydbomni/connect/connect-dbeaver.md
  docs/products/alloydbomni/connect/connect-go.md
  docs/products/alloydbomni/connect/connect-java.md
  docs/products/alloydbomni/connect/connect-node.md
  docs/products/alloydbomni/connect/connect-pgadmin.md
  docs/products/alloydbomni/connect/connect-php.md
  docs/products/alloydbomni/connect/connect-psql.md
  docs/products/alloydbomni/connect/connect-python.md
  docs/products/alloydbomni/connect/connect-rivery.md
  docs/products/alloydbomni/connect/connect-services.md
  docs/products/alloydbomni/connect/connect-skyvia.md
  docs/products/alloydbomni/connect/connect-zapier.md
  docs/products/alloydbomni/get-started.md
  docs/products/alloydbomni/manage-credentials.md
  docs/products/alloydbomni/use-columnar-engine.md
  docs/products/services.md
  docusaurus.config.ts
  package.json
  scripts/service_type_parser.js
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
  static/images/logos/alloydbomni.svg
  static/includes/config-alloydbomni.md
  yarn.lock
Labels: tech

#477 update: OS snapshot migration feedback
  docs/products/opensearch/howto/migrate-ism-policies.md
  docs/products/opensearch/howto/migrate-opendistro-security-config-aiven.md
  docs/products/opensearch/howto/migrate-snapshot-data-opensearch.md
Labels: review/SME, service/opensearch

#492 update(alloydb-omni): service component reordered
  docs/products/services.md
Labels: alloydb-omni

#493 update(privatelink): change to early availability for Google PSC
  docs/platform/howto/use-google-private-service-connect.md
Labels: review/TW, platform

#490 update: Metrics content for GA
  docs/products/metrics.md
  docs/products/metrics/get-started.md
  docusaurus.config.ts
Labels: review/awaitingRelease, service/thanos-metrics

#495 fix: broken link for K8s docs
  docs/tools/kubernetes.md
Labels: review/TW

#480 add: Read replica for Aiven for Valkey
  docs/products/valkey/concepts/read-replica.md
  docs/products/valkey/howto/create-valkey-read-replica.md
  sidebars.ts
Labels: review/awaitingRelease, service/valkey

#496 update: OpenSearch data migration prerequisite
  docs/products/opensearch/howto/migrate-snapshot-data-opensearch.md
Labels: review/TW

#502 fix: Schema registry page
  docs/products/kafka/howto/connect-with-command-line.md
  docs/products/kafka/howto/enable-karapace.md
  docs/products/kafka/howto/enable-schema-registry.md
  sidebars.ts
  static/_redirects
Labels: service/kafka, review/TW

#503 add: Azure Blob Storage sink connector for Aiven for Apache Kafka
  docs/products/kafka/kafka-connect/concepts/list-of-connector-plugins.md
  docs/products/kafka/kafka-connect/howto/azure-blob-sink.md
  sidebars.ts
Labels: service/kafka, review/TW

#469 fix: Refined OS replication factor 0 documentation
  docs/products/opensearch/concepts/index-replication.md
Labels: review/SME, review/TW, service/opensearch

#479 add: anchors for advanced params
  docs/products/mysql/reference/advanced-params.md
  scripts/service_type_parser.js
  src/css/custom.css
  static/includes/config-alloydbomni.md
  static/includes/config-caching.md
  static/includes/config-cassandra.md
  static/includes/config-clickhouse.md
  static/includes/config-dragonfly.md
  static/includes/config-flink.md
  static/includes/config-grafana.md
  static/includes/config-kafka.md
  static/includes/config-kafka_connect.md
  static/includes/config-kafka_mirrormaker.md
  static/includes/config-m3aggregator.md
  static/includes/config-m3db.md
  static/includes/config-mysql.md
  static/includes/config-opensearch.md
  static/includes/config-pg.md
  static/includes/config-valkey.md
Labels: service/mysql, review/TW, tech

#510 update: operator docs
  docs/tools/kubernetes.md
Labels: review/TW

#514 update: OS snaptshot data migration feedback
  docs/products/opensearch/howto/migrate-snapshot-data-opensearch.md
Labels: review/SME, service/opensearch

#512 add: link checker job
  .github/workflows/link-checker.yaml
  .gitignore
  Makefile
  docs/platform/howto/byoc/create-custom-cloud.md
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-pg.md
  docs/products/postgresql/reference/list-of-extensions.md
  scripts/check_links.sh
Labels: service/kafka, service/postgre, platform, tech

#494 update: IdP articles
  docs/get-started.md
  docs/platform/howto/list-authentication.md
  docs/platform/howto/list-identity-providers.md
  docs/platform/howto/saml/add-auth0-idp.md
  docs/platform/howto/saml/add-azure-idp.md
  docs/platform/howto/saml/add-fusionauth-idp.md
  docs/platform/howto/saml/add-google-idp.md
  docs/platform/howto/saml/add-identity-providers.md
  docs/platform/howto/saml/add-jumpcloud-idp.md
  docs/platform/howto/saml/add-okta-idp.md
  docs/platform/howto/saml/add-onelogin-idp.md
  sidebars.ts
  static/_redirects
  static/includes/idp-step1.md
  static/includes/idp-step3.md
Labels: review/SME, review/TW, platform

#518 fix: broken links
  docs/platform/concepts/service_backups.md
  docs/products/grafana/reference/plugins.md
  docs/products/kafka/kafka-connect/howto/snowflake-sink.md
  docs/products/opensearch/howto/sample-dataset.md
  docs/products/postgresql/concepts/dba-tasks-pg.md
  docs/products/postgresql/concepts/pg-connection-pooling.md
  docs/products/postgresql/concepts/pg-shared-buffers.md
  docs/products/postgresql/howto/create-manual-backups.md
  docs/products/postgresql/howto/enable-jit.md
  docs/products/postgresql/howto/identify-pg-slow-queries.md
  docs/products/postgresql/howto/migrate-aiven-db-migrate.md
  docs/products/postgresql/howto/migrate-db-to-aiven-via-console.md
  docs/products/postgresql/howto/migrate-pg-dump-restore.md
  docs/products/postgresql/howto/monitor-database-with-datadog.md
  docs/products/postgresql/howto/monitor-with-pgwatch2.md
  docs/products/postgresql/howto/pagila.md
  docs/products/postgresql/howto/pg-long-running-queries.md
  docs/products/postgresql/howto/pg-object-size.md
  docs/products/postgresql/howto/use-dblink-extension.md
  docs/products/postgresql/howto/use-pg-cron-extension.md
  docs/tools/cli/service-cli.md
  scripts/check_links.sh
Labels: service/kafka, service/postgre, platform, tech, tool/cli

#516 update: remove cloud providers from free plan
  docs/platform/concepts/free-plan.md
Labels: platform, review/awaitingRelease

#520 fix: `avn service cli` also support Valkey
  docs/tools/cli/service-cli.md
Labels: tool/cli

#522 fix: free plan page should name Valkey
  docs/platform/concepts/free-plan.md
Labels: platform

#513 add: Content for ClickHouse sink connector for Aiven for Apache Kafka
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/kafka/kafka-connect/howto/clickhouse-sink-connector.md
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
Labels: service/kafka, review/awaitingRelease, tech

#517 update: Snapshot migration updates
  docs/products/opensearch/howto/migrate-ism-policies.md
  docs/products/opensearch/howto/migrate-snapshot-data-opensearch.md
Labels: review/TW, service/opensearch

#470 update: permissions
  docs/platform/concepts/orgs-units-projects.md
  docs/platform/concepts/permissions.md
  docs/platform/concepts/projects.md
  docs/platform/concepts/user-access-management.md
  docs/platform/howto/add-project-members.md
  docs/platform/howto/make-super-admin.md
  docs/platform/howto/manage-groups.md
  docs/platform/howto/manage-permissions.md
  docs/platform/howto/manage-vpc-peering.md
  docs/products/kafka/howto/enable-governance.md
  docs/products/kafka/howto/prevent-full-disks.md
  docs/tools/aiven-console.md
  docs/tools/aiven-console/howto/create-manage-teams.md
  sidebars.ts
  static/_redirects
Labels: service/kafka, review/TW, platform, review/awaitingRelease

#521 update: add information about single availability zone for Kafka
  docs/products/kafka/howto/best-practices.md
Labels: service/kafka, review/TW

#508 add: Migration from Caching to Valkey
  docs/products/valkey/howto/migrate-caching-valkey-to-aiven-for-valkey.md
  sidebars.ts
Labels: service/valkey

#530 fix: typo in sidebar label
  docs/products/mysql/concepts/mysql-tuning-and-concurrency.md
Labels: service/mysql

#526 add(alloydbomni): avn client commands
  docs/tools/cli/service/alloydbomni.md
  sidebars.ts
Labels: review/TW, tool/cli, service/alloydb_omni

#511 add(clickhouse): restore from a backup
  docs/products/clickhouse/concepts/disaster-recovery.md
  docs/products/clickhouse/howto/restore-backup.md
  sidebars.ts
Labels: service/clickhouse, review/awaitingRelease

#529 update: use permission resource in teams migration
  docs/tools/terraform/howto/migrate-from-teams-to-groups.md
Labels: review/TW, tool/terraform

#525 add(alloydbomni): info on compatibility with postgresql
  docs/products/alloydbomni.md
Labels: review/TW, service/alloydb_omni

#389 add(platform): BYOC AWS MS2
  docs/platform/concepts/byoc.md
  docs/platform/concepts/service_backups.md
  docs/platform/howto/byoc/add-customer-info-custom-cloud.md
  docs/platform/howto/byoc/assign-project-custom-cloud.md
  docs/platform/howto/byoc/create-custom-cloud/create-aws-custom-cloud.md
  docs/platform/howto/byoc/create-custom-cloud/create-custom-cloud.md
  docs/platform/howto/byoc/create-custom-cloud/create-google-custom-cloud.md
  docs/platform/howto/byoc/delete-custom-cloud.md
  docs/platform/howto/byoc/download-infrastructure-template.md
  docs/platform/howto/byoc/enable-byoc.md
  docs/platform/howto/byoc/manage-byoc-service.md
  docs/platform/howto/byoc/networking-security.md
  docs/platform/howto/byoc/rename-custom-cloud.md
  docs/platform/howto/byoc/store-data.md
  docs/platform/howto/byoc/tag-custom-cloud-resources.md
  docs/platform/howto/byoc/view-custom-cloud-status.md
  docs/tools/cli/byoc.md
  sidebars.ts
  static/_redirects
  static/images/content/figma/byoc-aws-private.png
  static/images/content/figma/byoc-aws-public.png
  static/images/content/figma/byoc-gcp-private.png
  static/images/content/figma/byoc-gcp-public.png
  static/images/content/figma/byoc-how-it-works.png
Labels: review/TW, platform, review/awaitingRelease
