Repository aiven/aiven-docs, pull requests merged in 2024-02, with the labels that each got.

#12 update(billing): update instructions for assigning projects to billing groups
  docs/platform/howto/billing-assign-projects.md
Labels: review/TW, platform

#20 feat: required access snippet
  .vscode/aiven.code-snippets
Labels: review/TW

#23 feat(code-snippet): prerequisites section
  .vscode/aiven.code-snippets
Labels: review/TW, tech

#18 update(services): updated EA and LA badges
  docs/products/dragonfly.md
  docs/products/dragonfly/concepts/ha-dragonfly.md
  docs/products/dragonfly/concepts/overview.md
  docs/products/dragonfly/get-started.md
  docs/products/dragonfly/howto/migrate-aiven-redis-df-console.md
  docs/products/dragonfly/howto/migrate-ext-redis-df-console.md
  docs/products/flink/concepts/custom-jars.md
  docs/products/flink/howto/create-jar-application.md
  docs/products/kafka/concepts/consumer-lag-predictor.md
  docs/products/kafka/concepts/kafka-quotas.md
  docs/products/kafka/concepts/kafka-tiered-storage.md
  docs/products/kafka/concepts/list-kafka-tiered-storage.md
  docs/products/kafka/concepts/tiered-storage-guarantees.md
  docs/products/kafka/concepts/tiered-storage-how-it-works.md
  docs/products/kafka/concepts/tiered-storage-limitations.md
  docs/products/kafka/howto/configure-topic-tiered-storage.md
  docs/products/kafka/howto/enable-kafka-tiered-storage.md
  docs/products/kafka/howto/enabled-consumer-lag-predictor.md
  docs/products/kafka/howto/tiered-storage-overview-page.md
Labels: service/flink, service/kafka, service/dragonfly, review/TW

#26 update(auth): add parameter for Google IdP
  docs/platform/howto/saml/add-google-idp.md
  sidebars.ts
Labels: review/TW, platform

#25 add(postgresql): datagrip and dbeaver connect
  docs/products/postgresql/howto/connect-datagrip.md
  docs/products/postgresql/howto/connect-dbeaver.md
  sidebars.ts
  static/images/products/postgresql/datagrip-create-connection.png
  static/images/products/postgresql/dbeaver-create-connection.png
Labels: service/postgre, review/TW

#34 add: return code for unfound param
  .github/workflows/update-adv-params-all.yaml
  scripts/service_type_parser.js
Labels: tech

#36 update(platform): format fix in list-byoc
  docs/platform/howto/list-byoc.md
Labels: review/TW, platform

#37 fix: update help.aiven.io link
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-lite-sink.md
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-lite-source.md
Labels: service/kafka, review/TW

#16 add(platform): instructions for deactivating users
  docs/platform/concepts/managed-users.md
Labels: review/SME, platform

#15 add(platform): instructions for project members
  docs/platform/howto/add-project-members.md
  sidebars.ts
Labels: review/SME, platform

#35 feat: add pre-push hook and bump Yarn to v4
  .gitignore
  .husky/pre-push
  .yarnrc.yml
  README.md
  package.json
  yarn.lock
Labels: tech

#40 update: add super admin note to billing pages
  docs/platform/concepts/hourly-billing-model.md
  docs/platform/howto/billing-assign-projects.md
  docs/platform/howto/create-billing-groups.md
  docs/platform/howto/manage-payment-card.md
  docs/platform/howto/update-tax-status.md
  docs/platform/howto/use-billing-groups.md
Labels: review/TW, platform

#33 update(getting started): fixes of format, lg, and style issues
  docs/products/cassandra/get-started.md
  docs/products/clickhouse/get-started.md
  docs/products/mysql/get-started.md
  docs/products/postgresql/get-started.md
Labels: service/cassandra, service/postgre, service/mysql, service/clickhouse, review/TW

#44 update: Fixed missing crosslink
  docs/products/kafka/howto/enable-oidc.md
Labels: service/kafka, review/TW

#8 add(Flink): Flink JAR credentials management
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/flink/howto/manage-credentials-jars.md
  docs/products/postgresql/howto/monitor-database-with-datadog.md
  docs/tools/cli/service/integration.md
  sidebars.ts
Labels: service/flink, review/TW

#45 update: Correct maxmemory setting and eviction policy
  docs/products/redis/concepts/memory-usage.md
Labels: review/TW, service/redis

#43 update: Removed InfluxDB content
  .github/vale/styles/Aiven/First_InfluxDB_is_registered.yml
  .github/workflows/update-adv-params-all.yaml
  Makefile
  docs/platform/concepts/choosing-timeseries-database.md
  docs/platform/concepts/logs-metrics-alerts.md
  docs/platform/concepts/service-forking.md
  docs/platform/concepts/service_backups.md
  docs/platform/howto/integrations/prometheus-metrics.md
  docs/products/clickhouse/concepts/features-overview.md
  docs/products/clickhouse/howto/monitor-performance.md
  docs/products/grafana/howto/log-in.md
  docs/products/influxdb.md
  docs/products/influxdb/concepts.md
  docs/products/influxdb/concepts/continuous-queries.md
  docs/products/influxdb/concepts/influxdb-retention-policy.md
  docs/products/influxdb/get-started.md
  docs/products/influxdb/howto.md
  docs/products/influxdb/howto/migrate-data-self-hosted-influxdb-aiven.md
  docs/products/influxdb/reference.md
  docs/products/influxdb/reference/advanced-params.md
  docs/products/kafka/kafka-mirrormaker/howto/setup-mirrormaker-monitoring.md
  docs/products/opensearch/howto/opensearch-log-integration.md
  docs/products/postgresql/howto/report-metrics-grafana.md
  docs/tools/cli/service-cli.md
  docs/tools/cli/service/database.md
  docs/tools/cli/service/integration.md
  docs/tools/terraform/get-started.md
  docusaurus.config.ts
  sidebars.ts
  static/_redirects
  static/images/logos/icon-influxdb.svg
  static/includes/config-influxdb.md
  static/includes/services-memory-capped.md
  yarn.lock
Labels: review/TW

#46 add: eviction policy Dragonfly
  docs/products/dragonfly/howto/eviction-policy-df.md
  sidebars.ts
Labels: service/dragonfly, review/TW

#51 update: CLI instructions with Homebrew installation instructions
  docs/tools/cli.md
Labels: review/TW, platform

#57 update: service integration update to DF get started
  docs/products/dragonfly/get-started.md
Labels: service/dragonfly, review/SME

#58 fix: broken link
  docs/tools/cli/service/integration.md
Labels: review/TW

#49 add: application users docs
  docs/platform/concepts/application-users.md
  docs/platform/howto/manage-application-users.md
  sidebars.ts
Labels: review/TW, platform

#62 add(platform): warning on static ip costs
  docs/platform/concepts/static-ips.md
Labels: review/TW, platform

#52 add(postgresql): release 16 EOL dates
  docs/platform/reference/eol-for-major-versions.md
Labels: service/postgre, review/SME

#64 update: add link to TF Cookbook
  docs/tools/terraform.md
Labels: review/TW, terraform

#63 update(css): use decimal bullets for sublists
  src/css/custom.css
Labels: tech

#67 add: TF instructions to migrate to groups
  docs/tools/terraform/howto/migrate-from-teams-to-groups.md
  sidebars.ts
Labels: review/SME, terraform

#56 fix: migrate teams instructions
  docs/tools/aiven-console/howto/create-manage-teams.md
Labels: review/SME, platform

#68 feat: add labeler
  .github/workflow-config/labeling-rules.yaml
  .github/workflows/labeler.yaml
Labels: tech

#69 fix: workflows for yarn4
  .github/workflows/create-index-algolia.yaml
  .github/workflows/update-adv-params.yaml
  .github/workflows/update-cloud-list.yaml
Labels: tech

#75 delete: superfluous admonitions
  docs/integrations/cloudwatch/cloudwatch-logs-cli.md
  docs/platform/howto/restrict-access.md
  docs/platform/howto/use-azure-privatelink.md
  docs/platform/howto/use-google-private-service-connect.md
  docs/products/cassandra/concepts/cross-cluster-replication.md
  docs/products/cassandra/howto/manage-cross-cluster-replication.md
  docs/products/cassandra/howto/zdm-proxy.md
  docs/products/clickhouse/concepts/disaster-recovery.md
  docs/products/clickhouse/concepts/federated-queries.md
  docs/products/clickhouse/concepts/indexing.md
  docs/products/clickhouse/concepts/service-architecture.md
  docs/products/clickhouse/concepts/strings.md
  docs/products/clickhouse/howto/connect-with-go.md
  docs/products/clickhouse/howto/connect-with-java.md
  docs/products/clickhouse/howto/connect-with-nodejs.md
  docs/products/clickhouse/howto/connect-with-php.md
  docs/products/clickhouse/howto/connect-with-python.md
  docs/products/clickhouse/howto/copy-data-across-instances.md
  docs/products/clickhouse/howto/data-service-integration.md
  docs/products/clickhouse/howto/enable-tiered-storage.md
  docs/products/clickhouse/howto/fetch-query-statistics.md
  docs/products/clickhouse/howto/integrate-kafka.md
  docs/products/clickhouse/howto/integrate-postgresql.md
  docs/products/clickhouse/howto/integration-databases.md
  docs/products/clickhouse/reference/limitations.md
  docs/products/clickhouse/reference/plans-pricing.md
  docs/products/clickhouse/reference/s3-supported-file-formats.md
  docs/products/clickhouse/reference/supported-interfaces-drivers.md
  docs/products/flink/concepts/flink-applications.md
  docs/products/flink/concepts/tables.md
  docs/products/flink/howto/connect-bigquery.md
  docs/products/flink/howto/ext-kafka-flink-integration.md
  docs/products/grafana/howto/dashboard-previews.md
  docs/products/kafka/howto/kafka-klaw.md
  docs/products/kafka/kafka-connect/howto/snowflake-sink.md
  docs/products/kafka/karapace/concepts/kafka-rest-proxy-authorization.md
  docs/products/mysql/howto/create-missing-primary-keys.md
  docs/products/mysql/howto/create-tables-without-primary-keys.md
  docs/products/mysql/howto/identify-disk-usage-issues.md
  docs/products/mysql/howto/migrate-db-to-aiven-via-console.md
  docs/products/mysql/howto/prevent-disk-full.md
  docs/products/opensearch/concepts/cross-cluster-replication-opensearch.md
  docs/products/opensearch/howto/opensearch-search-and-python.md
  docs/products/postgresql/concepts/pg-backups.md
  docs/products/postgresql/get-started.md
  docs/products/postgresql/howto/migrate-db-to-aiven-via-console.md
  docs/products/postgresql/howto/monitor-database-with-datadog.md
  docs/products/postgresql/reference/pg-metrics.md
  docs/products/postgresql/troubleshooting/troubleshooting-connection-pooling.md
  docs/tools/cli/user/user-access-token.md
Labels: service/flink, service/kafka, service/cassandra, service/mysql, service/clickhouse, platform, tool/cli

#31 update(platform): add step to link verified domains to IdP
  docs/platform/howto/saml/add-identity-providers.md
Labels: review/TW, platform

#81 update: clarify how managed users work
  docs/platform/concepts/managed-users.md
Labels: review/TW, platform

#85 update: Vale styles
  .github/vale/styles/Aiven/ForbiddenWords.yml
  .github/vale/styles/Aiven/ListEfficiency.yml
  .github/vale/styles/Aiven/Must.yml
  .github/vale/styles/Aiven/TensesWarning.yml
  .github/vale/styles/Aiven/UXdescription.yml
  .github/vale/styles/Aiven/WeaselWords.yml
  .github/vale/styles/Aiven/Wordiness-error.yml
  .github/vale/styles/Aiven/Wordiness.yml
  .github/vale/styles/Google/WordList.yml
  docs/platform/howto/saml/add-identity-providers.md
Labels: platform, tech

#82 update(cassandra): eol dates for 4.0 and 4.1 versions
  docs/platform/reference/eol-for-major-versions.md
Labels: review/TW, platform

#94 update: remove image background
  .vscode/aiven.code-snippets
  docs/platform/concepts/projects_accounts_access.md
  src/components/HomepageFeatures/index.tsx
  src/components/HomepageFeatures/styles.module.css
  src/css/custom.css
  static/images/figma/organizations-overview.png
  static/images/icons/home/background1.svg
  static/images/icons/home/background2.svg
  static/images/icons/home/ban-circle.svg
  static/images/icons/home/code-browser.svg
  static/images/icons/home/console.svg
  static/images/icons/home/database.svg
  static/images/icons/home/integrations.svg
  static/images/icons/home/rocket.svg
  static/images/icons/home/tool.svg
  static/images/platform/concepts/organizations_hierarchy.png
Labels: platform, tech

#95 update: harmonize spacing in lists
  .github/vale/styles/Aiven/Wordiness-error.yml
  docs/products/flink/howto/ext-kafka-flink-integration.md
  docs/products/opensearch/howto/opensearch-log-integration.md
  docs/products/postgresql/howto/report-metrics-grafana.md
  src/css/custom.css
Labels: service/flink, tech

#17 add(platform): carbon footprint doc
  .vscode/aiven.code-snippets
  docs/platform/concepts/carbon-footprint.md
  sidebars.ts
Labels: platform, review/awaitingRelease

#27 update(platform): trial limitations
  docs/platform/concepts/free-trial.md
Labels: review/TW, platform

#89 update(platform): add ip cost warning to the service termination doc
  docs/platform/concepts/static-ips.md
  docs/platform/howto/pause-from-cli.md
  static/includes/static-ip-cost-warning.md
Labels: review/TW, platform
