Repository aiven/aiven-docs, pull requests merged in 2025-06, with the labels that each got.

#886 update: connector mv support
  docs/products/kafka/kafka-connect/howto/manage-connector-versions.md
Labels: service/kafka, service/kafka_connect

#887 update: Add Java producer and consumer examples for Karapace
  docs/products/kafka/howto/connect-with-java.md
Labels: service/kafka

#864 update: creating organizations with SAML
  docs/tools/aiven-console/howto/create-orgs-and-units.md
Labels: review/awaitingRelease

#891 update: advise users to keep verification file for domains
  docs/platform/howto/manage-domains.md
Labels: review/TW, platform

#860 update: billing and integration permissions
  docs/platform/concepts/permissions.md
Labels: platform, review/awaitingRelease

#896 update: changing a service plan causes node recycle
  docs/platform/howto/scale-services.md
Labels: review/TW, platform

#690 feat: New cloud provider Exoscale (LA)
  static/includes/clouds-list.md
Labels: platform, review/awaitingRelease

#889 update: restrict the use of avnadmin by all opensearch roles
  docs/products/opensearch/concepts/access_control.md
Labels: review/SME, service/opensearch

#888 update: OS plugins links removed
  docs/products/opensearch/reference/plugins.md
Labels: review/TW, service/opensearch

#901 update: GitHub link in S3 sink connector
  docs/products/kafka/kafka-connect/howto/s3-sink-connector-aiven.md
Labels: service/kafka, service/kafka_connect

#904 update: instructions for sending HAR files to support
  docs/platform/howto/support.md
Labels: review/TW, platform

#876 feat: Azure Blob source connector
  docs/products/kafka/kafka-connect/concepts/list-of-connector-plugins.md
  docs/products/kafka/kafka-connect/howto/azure-blob-source.md
  sidebars.ts
Labels: service/kafka, review/awaitingRelease, service/kafka_connect

#831 feat: add info on unit-level permissions
  docs/platform/concepts/permissions.md
Labels: platform, review/awaitingRelease

#916 update: plans relauch for clickhouse
  docs/products/clickhouse/reference/limitations.md
  static/includes/clickhouse-storage-limitation.md
Labels: service/clickhouse, review/awaitingRelease

#894 update: ClickHouse supports DDS
  docs/platform/howto/add-storage-space.md
Labels: platform, review/awaitingRelease

#924 feat: manage snapshot repository credentials
  docs/products/opensearch/howto/snapshot-credentials.md
  sidebars.ts
Labels: review/TW, service/opensearch

#915 update: clarify multi-version connector capability
  docs/products/kafka/kafka-connect/howto/manage-connector-versions.md
Labels: service/kafka, service/kafka_connect

#926 update: remove EA tag for KRaft docs
  docs/platform/reference/eol-for-major-versions.md
  docs/products/kafka/concepts/kraft-mode.md
  docs/products/kafka/concepts/upgrade-procedure.md
Labels: service/kafka, platform, review/awaitingRelease

#931 update: Aiven Platform info
  docs/get-started.md
  docs/platform/howto/set-authentication-policies.md
Labels: review/TW, platform
