Repository aiven/aiven-docs, pull requests merged in 2025-09, with the labels that each got.

#1030 fix: password reset instructions
  docs/platform/reference/change-password.md
Labels: platform

#1031 update: replace GIF with MP4 video in Kafdrop topic page
  docs/products/kafka/howto/kafdrop.md
  docusaurus.config.ts
  package-lock.json
  package.json
  static/images/content/products/kafka/kafdrop.mp4
  yarn.lock
Labels: service/kafka

#1000 update: more clickhouse-kafka integration settings + improvements
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/clickhouse/howto/integrate-kafka.md
  src/components/ConsoleIcons/index.tsx
Labels: service/clickhouse, review/SME, tech

#1032 update: pg max connections set up
  docs/products/postgresql/reference/pg-connection-limits.md
Labels: service/pg, review/TW

#1033 update: docs for Java class generation from Avro, Protobuf, and JSON schemas
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/kafka/howto/generate-avro-java-classes.md
  docs/products/kafka/howto/generate-java-classes-from-schemas.md
  docs/products/kafka/howto/generate-json-java-classes.md
  docs/products/kafka/howto/generate-protobuf-java-classes.md
  docs/products/kafka/howto/schema-registry.md
  sidebars.ts
Labels: service/kafka, tech

#1035 update: improve connector list troubleshooting page to avoid soft 404
  docs/products/kafka/kafka-connect/concepts/connect-plugin-list-not-available.md
Labels: service/kafka, service/kafka_connect

#1024 update: alloydb omni EOL
  docs/platform/reference/end-of-life.md
  docs/platform/reference/eol-for-major-versions.md
Labels: review/SME, review/TW, platform

#1037 update: Confluent dependency for Avro schema serialization
  docs/products/kafka/howto/generate-avro-java-classes.md
Labels: service/kafka

#1048 update: Kafka - new quick connect flow for Java
  docs/products/kafka/howto/connect-with-command-line.md
  docs/products/kafka/howto/connect-with-go.md
  docs/products/kafka/howto/connect-with-java-classic-quick-connect.md
  docs/products/kafka/howto/connect-with-java-quick-connect.md
  docs/products/kafka/howto/connect-with-nodejs.md
  docs/products/kafka/howto/connect-with-python.md
  sidebars.ts
  static/_redirects
Labels: service/kafka

#1068 update: Aiven for Caching EOA/EOL banner
  docs/products/caching.md
  docs/products/caching/get-started.md
  static/includes/eol-caching-banner.md
  static/includes/service-end-of-availability-notice.md
Labels: review/SME, review/TW, service/caching

#1071 update: Unify content for BigQuery sink connector
  docs/products/kafka/kafka-connect/howto/gcp-bigquery-sink-prereq.md
  docs/products/kafka/kafka-connect/howto/gcp-bigquery-sink.md
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-sink.md
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-source.md
  sidebars.ts
  static/_redirects
Labels: service/kafka, service/kafka_connect

#1073 update: add cross link
  docs/products/kafka/kafka-connect/howto/gcp-bigquery-sink.md
Labels: service/kafka, service/kafka_connect

#677 feat: AWS BYOC storage and backup improvements
  docs/platform/concepts/byoc.md
  docs/platform/concepts/service_backups.md
  docs/platform/howto/byoc/create-cloud/create-aws-custom-cloud.md
  docs/platform/howto/byoc/create-cloud/create-google-custom-cloud.md
  docs/platform/howto/byoc/store-data.md
  sidebars.ts
  static/images/content/figma/byoc-aws-private.png
  static/images/content/figma/byoc-aws-public.png
Labels: review/SME, platform

#1077 update: BigQuery doc
  docs/products/kafka/kafka-connect/howto/gcp-bigquery-sink.md
Labels: service/kafka, service/kafka_connect

#1093 fix: PG18 support dates
  docs/platform/reference/eol-for-major-versions.md
Labels: platform

#1089 update: cli commands
  docs/integrations/cloudwatch/cloudwatch-logs-cli.md
  docs/platform/howto/create_authentication_token.md
  docs/products/kafka/kafka-mirrormaker/howto/log-analysis-offset-sync-tool.md
  docs/tools/cli/billing-group.md
  docs/tools/cli/user.md
  docs/tools/cli/user/user-access-token.md
  sidebars.ts
  static/_redirects
Labels: service/kafka, platform, tool/cli, service/kafka_mirrormaker

#1088 update: max number of topics per cluster
  docs/products/kafka/howto/best-practices.md
Labels: service/kafka
