Repository aiven/aiven-docs, pull requests merged in 2025-08, with the labels that each got.

#988 update: assign card to billing group when adding it
  docs/platform/howto/manage-payment-card.md
Labels: review/TW, platform, review/awaitingRelease

#955 feat: mysql incremental backups
  docs/products/mysql/howto/use-incremental-backups.md
  sidebars.ts
Labels: service/mysql, review/awaitingRelease

#991 update: change contact for marketplace setup
  docs/platform/howto/list-marketplace-payments.md
Labels: platform

#879 feat: postgresql_anonymizer extension
  docs/products/postgresql/reference/list-of-extensions.md
Labels: service/pg, review/awaitingRelease

#1005 update: Replace account team with support ticket for private byoc cloud migration
  docs/platform/howto/byoc/assign-project-custom-cloud.md
  docs/platform/howto/byoc/create-cloud/create-aws-custom-cloud.md
  docs/platform/howto/byoc/create-cloud/create-google-custom-cloud.md
  docs/platform/howto/byoc/manage-byoc-service.md
Labels: review/SME, review/TW, platform

#1006 update: remove influxdb migration docs and add redirections
  docs/platform/reference/end-of-life.md
  docs/products/metrics/howto/download-influxdb-data.md
  docs/products/metrics/howto/migrate-influxdb-thanos.md
  sidebars.ts
  static/_redirects
Labels: review/SME, review/TW, service/thanos-metrics

#1013 update: note that users cannot unsubscribe from notifications
  docs/platform/howto/technical-emails.md
Labels: platform

#1022 fix: command for displaying PG migration status
  docs/products/mysql/howto/migrate-from-external-mysql.md
  docs/products/postgresql/howto/migrate-aiven-db-migrate.md
Labels: service/pg, service/mysql
