Repository aiven/aiven-docs, pull requests merged in 2025-04, with the labels that each got.

#771 update: list of clouds: google-europe-north-2 region
  static/includes/clouds-list.md
Labels: review/TW, platform

#781 update: max number of ClickHouse DBs
  docs/products/clickhouse/howto/integration-databases.md
  docs/products/clickhouse/howto/manage-databases-tables.md
  docs/products/clickhouse/reference/limitations.md
Labels: service/clickhouse, review/awaitingRelease

#787 update: clarify governance enabling permissions
  docs/products/kafka/howto/enable-governance.md
Labels: service/kafka, review/TW

#776 feat: Governance topic approval via Terraform and GitHub Actions
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/kafka/howto/approvals.md
  docs/products/kafka/howto/terraform-governance-approvals.md
  sidebars.ts
Labels: service/kafka, review/SME, tech

#789 feat: default versions of extensions per PG release
  .github/workflows/generate-pg-exentions.yaml
  docs/products/postgresql/reference/list-of-extensions-for-each-version.md
  scripts/get-pg-extensions.js
  sidebars.ts
  static/includes/pg-extensions.md
Labels: service/pg, tech

#790 update: Kafka and Kafka Connect get started Terraform instructions
  docs/products/kafka/get-started.md
  docs/products/kafka/kafka-connect/get-started.md
  static/includes/terraform-apply-changes.md
  static/includes/terraform-get-started-prerequisites.md
Labels: service/kafka, review/TW, service/kafka_connect

#796 fix: AWS VPC URL typo
  docs/platform/concepts/vpcs.md
Labels: review/TW, platform

#799 update: add user doc for out of shared memory alert
  docs/products/postgresql/howto/repair-pg-index.md
  docs/products/postgresql/troubleshooting/troubleshooting-connection-pooling.md
  docs/products/postgresql/troubleshooting/troubleshooting-fatal-out-of-shared-mem.md
  sidebars.ts
Labels: service/pg, review/TW

#800 update: instructions for leaving orgs and deleting user accounts
  docs/platform/howto/delete-user.md
  docs/platform/howto/manage-organizations.md
  src/components/ConsoleIcons/index.tsx
Labels: review/TW, platform, tech

#7 feat: PGAudit logging
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/postgresql/concepts/pg-audit-logging.md
  docs/products/postgresql/howto/list-pgaudit.md
  docs/products/postgresql/howto/use-pg-audit-logging.md
  docs/products/postgresql/reference/list-of-extensions.md
  sidebars.ts
  static/images/content/products/postgresql/pgaudit-logs-in-os-dashboards.png
Labels: service/pg, review/awaitingRelease, tech

#804 fix: privatelink doc improvements
  docs/platform/howto/use-aws-privatelinks.md
  docs/tools/cli/service/privatelink.md
Labels: review/TW, platform, tool/cli

#805 update: clickhouse startup plan cpu
  docs/products/clickhouse/reference/limitations.md
  sidebars.ts
Labels: service/clickhouse, review/TW

#802 update: add terraform alloydb get started
  docs/products/alloydbomni/get-started.md
  docs/products/postgresql/get-started.md
Labels: service/pg, review/TW, service/alloydbomni

#803 update: replace TF code samples with synced samples
  docs/products/kafka/howto/enable-follower-fetching.md
  docs/products/kafka/howto/manage-acls.md
  docs/products/kafka/kafka-connect/howto/manage-connector-versions.md
  docs/products/kafka/kafka-mirrormaker/howto/exactly-once-delivery.md
  docs/products/kafka/karapace/howto/manage-schema-registry-authorization.md
  docs/products/opensearch/howto/setup-cross-cluster-replication-opensearch.md
Labels: service/kafka, review/TW, service/kafka_connect, service/kafka_mirrormaker

#817 update: remove links to Aiven Community forum
  docs/platform/concepts/free-plan.md
  docs/platform/howto/support.md
  docusaurus.config.ts
Labels: review/TW, platform

#816 update: add links to TF examples for autoscaler
  docs/platform/howto/disk-autoscaler.md
Labels: review/TW, platform

#819 update: use external identity example from TF repo
  docs/products/kafka/howto/terraform-governance-approvals.md
Labels: service/kafka

#813 update: EOL to include Kafka 3.9
  docs/platform/reference/eol-for-major-versions.md
Labels: service/kafka, platform

#821 update: clickhouse - kafka integration improvements
  docs/products/clickhouse/howto/data-service-integration.md
  docs/products/clickhouse/howto/integrate-kafka.md
  docs/products/clickhouse/howto/integration-databases.md
  docs/products/clickhouse/reference/limitations.md
Labels: service/clickhouse, review/TW

#712 update: add invoice emails to billing groups details
  docs/platform/howto/manage-bank-transfers.md
  docs/platform/howto/use-billing-groups.md
Labels: platform, review/awaitingRelease

#820 update: redirect links to tf examples
  static/_redirects
Labels: review/TW, tool/terraform

#828 update: restructure Iceberg sink connector content
  docs/products/kafka/kafka-connect/howto/aws-glue-catalog.md
  docs/products/kafka/kafka-connect/howto/aws-glue-rest-catalog.md
  docs/products/kafka/kafka-connect/howto/iceberg-sink-connector.md
  sidebars.ts
  static/includes/create-iceberg-sink-connector.md
Labels: service/kafka, service/kafka_connect

#830 update: info on moving projects
  docs/platform/howto/manage-project.md
Labels: review/TW, platform

#798 feat: Support credential rotation for Kafka subscriptions
  docs/products/kafka/howto/rotate-credentials.md
  sidebars.ts
Labels: service/kafka, review/SME

#836 update: Remove m3db from timeseries note and add alloydb and clickhouse
  docs/platform/howto/list-service.md
Labels: platform
