Repository aiven/aiven-docs, pull requests merged in 2025-10, with the labels that each got.

#1092 update: consolidate backup information for services
  docs/platform/concepts/availability-zones.md
  docs/platform/concepts/service_backups.md
  docs/products/clickhouse/howto/configure-backup.md
  docs/products/opensearch/concepts/backups.md
  docs/products/opensearch/howto/import-opensearch-data-elasticsearch-dump-to-aiven.md
  docs/products/opensearch/howto/import-opensearch-data-elasticsearch-dump-to-aws.md
  sidebars.ts
  static/_redirects
  static/includes/edit-backup-schedule.md
Labels: service/clickhouse, platform

#1075 feat: JWT authentication for OpenSearch
  docs/products/opensearch/howto/jwt-authentication.md
  docs/products/opensearch/howto/oidc-authentication.md
  docs/products/opensearch/howto/saml-sso-authentication.md
  sidebars.ts
Labels: review/awaitingRelease, service/opensearch

#1096 update: move service plan limitation for integrations to main page
  docs/integrations/send-logs-to-elasticsearch.md
  docs/platform/concepts/service-integration.md
  docs/platform/howto/create-service-integration.md
Labels: platform
