Repository aiven/aiven-docs, pull requests merged in 2025-07, with the labels that each got.

#943 update: overview of orgs and units
  docs/platform/concepts/billing-and-payment.md
  docs/platform/concepts/orgs-units-projects.md
Labels: platform

#945 fix: typo on tokens page
  docs/platform/concepts/authentication-tokens.md
Labels: platform

#944 update: version 9.x compatibility note for Stream Reactor
  docs/products/kafka/kafka-connect/howto/cassandra-streamreactor-sink.md
  docs/products/kafka/kafka-connect/howto/cassandra-streamreactor-source.md
  docs/products/kafka/kafka-connect/howto/influx-sink.md
  docs/products/kafka/kafka-connect/howto/mongodb-sink-lenses.md
  docs/products/kafka/kafka-connect/howto/mqtt-sink-connector.md
  docs/products/kafka/kafka-connect/howto/mqtt-source-connector.md
  docs/products/kafka/kafka-connect/howto/redis-streamreactor-sink.md
  static/includes/streamreactor-compatibility-note.md
Labels: service/kafka, service/kafka_connect

#949 update: disk size buffer for plan change
  docs/platform/howto/scale-services.md
Labels: review/TW, platform

#815 feat: aws byoc privatelink
  docs/platform/howto/byoc/aws-privatelink-byoc.md
  docs/platform/howto/use-aws-privatelinks.md
  docs/tools/cli/service/privatelink.md
  sidebars.ts
Labels: platform, review/awaitingRelease, tool/cli

#953 update: change links from dev center to TF examples
  docs/products/cassandra/concepts/cross-cluster-replication.md
  docs/products/cassandra/howto/disable-cross-cluster-replication.md
  docs/products/cassandra/howto/enable-cross-cluster-replication.md
  docs/products/cassandra/howto/manage-cross-cluster-replication.md
  docs/products/clickhouse/howto/list-integrations.md
  docs/products/clickhouse/howto/manage-users-roles.md
  docs/products/kafka/karapace/get-started.md
  docs/products/kafka/karapace/howto/enable-karapace.md
  docs/tools/terraform.md
Labels: service/kafka, service/cassandra, service/clickhouse

#950 update: Content for connect Aiven Kafka and Klaw topic
  docs/products/kafka/howto/kafka-klaw.md
Labels: service/kafka

#956 update: add note about free plan notifications
  docs/platform/concepts/free-plan.md
Labels: platform

#960 update: SAML troubleshooting
  docs/platform/howto/saml/add-auth0-idp.md
  docs/platform/howto/saml/add-azure-idp.md
  docs/platform/howto/saml/add-fusionauth-idp.md
  docs/platform/howto/saml/add-google-idp.md
  docs/platform/howto/saml/add-identity-providers.md
  docs/platform/howto/saml/add-jumpcloud-idp.md
  docs/platform/howto/saml/add-okta-idp.md
  docs/platform/howto/saml/add-onelogin-idp.md
Labels: review/TW, platform

#962 update: add guidance to Kapa modal and update questions
  docusaurus.config.ts
Labels: review/TW

#911 feat: add UI-based Kafka sample data streaming docs
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/kafka/get-started.md
  docs/products/kafka/howto/fake-sample-data.md
  docs/products/kafka/howto/generate-sample-data-manually.md
  docs/products/kafka/howto/generate-sample-data.md
  sidebars.ts
  static/_redirects
Labels: service/kafka, review/awaitingRelease, tech

#970 update: operator permissions
  docs/platform/concepts/permissions.md
Labels: review/TW, platform

#975 fix: use opensearch for accessing pgaudit logs
  docs/products/postgresql/howto/use-pg-audit-logging.md
Labels: service/pg, review/TW

#974 update: manage services permissions list
  docs/platform/concepts/permissions.md
Labels: review/SME, review/TW, platform

#980 update: clarify claim must be a string
  docs/products/kafka/howto/enable-oidc.md
Labels: service/kafka

#981 update: clarify Kafka 4.0 behavior for JWKS endpoint config in OIDC
  docs/products/kafka/howto/enable-oidc.md
Labels: service/kafka
