Repository aiven/aiven-docs, pull requests merged in 2025-01, with the labels that each got.

#619 add(clickhouse): system tables
  docs/products/clickhouse/reference/clickhouse-system-tables.md
  sidebars.ts
Labels: service/clickhouse, review/awaitingRelease

#620 update: enable Docusaurus Faster
  babel.config.js
  docs/products/clickhouse/reference/limitations.md
  docs/products/opensearch/howto/opensearch-alerting-api.md
  docusaurus.config.ts
  package.json
  static/code/products/opensearch/cpu_alert.json
  yarn.lock
Labels: service/clickhouse

#624 fix: use Link instead of 'a' tag
  docusaurus.config.ts
  scripts/service_type_parser.js
  src/css/custom.css
  static/includes/config-alloydbomni.md
  static/includes/config-caching.md
  static/includes/config-cassandra.md
  static/includes/config-clickhouse.md
  static/includes/config-dragonfly.md
  static/includes/config-flink.md
  static/includes/config-grafana.md
  static/includes/config-kafka.md
  static/includes/config-kafka_connect.md
  static/includes/config-kafka_mirrormaker.md
  static/includes/config-m3aggregator.md
  static/includes/config-m3db.md
  static/includes/config-mysql.md
  static/includes/config-opensearch.md
  static/includes/config-pg.md
  static/includes/config-valkey.md
Labels: tech

#623 add: Debezium 2.5 config
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-pg.md
Labels: service/kafka, review/TW, service/kafka_connect

#609 add(clickhouse): local on-disk cache for remote files
  docs/products/clickhouse/concepts/clickhouse-tiered-storage.md
  docs/products/clickhouse/howto/local-cache-tiered-storage.md
  sidebars.ts
Labels: service/clickhouse, review/awaitingRelease

#610 add(clickhouse): azureBlobStorage table engine and function
  docs/products/clickhouse/concepts/data-integration-overview.md
  docs/products/clickhouse/reference/supported-table-engines.md
  docs/products/clickhouse/reference/supported-table-functions.md
Labels: service/clickhouse, review/SME, review/awaitingRelease

#627 add: MySQL AI insights
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/mysql/howto/ai-insights.md
  docs/products/postgresql/howto/optimize-pg-slow-queries.md
  docs/tools/query-optimizer.md
  sidebars.ts
  static/_redirects
  static/includes/ai-insights.md
Labels: service/pg, service/mysql, review/TW

#630 update: orgs and billing section
  docs/platform/concepts/billing-and-payment.md
  docs/platform/concepts/billing-groups-overview.md
  docs/platform/concepts/free-trial.md
  docs/platform/concepts/orgs-and-units.md
  docs/platform/concepts/projects.md
  docs/platform/howto/billing-assign-projects.md
  docs/platform/howto/list-marketplace-payments.md
  docs/platform/howto/manage-bank-transfers.md
  docs/platform/howto/manage-payment-card.md
  docs/platform/howto/manage-project.md
  docs/platform/howto/payment-methods.md
  docs/platform/howto/use-billing-groups.md
  docs/tools/aiven-console/howto/create-orgs-and-units.md
  sidebars.ts
  static/_redirects
Labels: review/TW, platform

#595 add: Promote follower to standalone OS service
  docs/products/opensearch/howto/setup-cross-cluster-replication-opensearch.md
  yarn.lock
Labels: review/SME, service/opensearch

#634 update: add note to super admin doc
  docs/platform/howto/make-super-admin.md
Labels: review/TW

#633 update: use different link checker tool
  .github/workflows/link-checker.yaml
  .gitignore
  Makefile
  scripts/check_links.sh
  static/_redirects
Labels: tech

#635 update: clarify offset sync behavior in MirrorMaker 2
  docs/products/kafka/kafka-mirrormaker/howto/log-analysis-offset-sync-tool.md
Labels: service/kafka, service/kafka_mirrormaker

#542 add: end of support for Aiven for Caching
  docs/platform/reference/end-of-life.md
  sidebars.ts
Labels: platform

#643 fix: indexing job
  .github/workflows/create-index-algolia.yaml
  package.json
  scripts/create_index_algolia.js
  yarn.lock
Labels: tech

#626 delete(kafka): Delete article on Zookeeper config
  docs/products/kafka/howto/configure-with-kafka-cli.md
  docs/products/kafka/howto/use-zookeeper.md
  sidebars.ts
  static/_redirects
Labels: service/kafka

#644 fix: aloglia indexing script
  .github/workflows/create-index-algolia.yaml
  scripts/create_index_algolia.cjs
Labels: tech

#648 update: add Slack notification
  .github/workflows/create-index-algolia.yaml
Labels: tech

#647 update: info on impact of creating new orgs
  docs/tools/aiven-console/howto/create-orgs-and-units.md
Labels: review/TW

#654 fix: saml instructions
  docs/platform/concepts/permissions.md
  docs/platform/howto/saml/add-identity-providers.md
  static/includes/idp-step3.md
Labels: review/TW, platform

#641 update: Storage information for Thanos to include tiered storage
  docs/products/metrics/concepts/storage-resource-scaling.md
Labels: review/SME, service/thanos-metrics

#645 update: add note about projects endpoint to permissions
  docs/platform/concepts/permissions.md
Labels: review/TW, platform

#663 update: cassandra 4.0 EoL and EoA dates
  docs/platform/reference/eol-for-major-versions.md
Labels: platform

#625 update(clickhouse): create db via sql
  docs/products/clickhouse/howto/manage-databases-tables.md
  docs/products/clickhouse/reference/limitations.md
Labels: service/clickhouse, review/awaitingRelease

#577 update: OpenSearch get started updates
  docs/products/opensearch/get-started.md
  src/components/non-swizzled/ConsoleIcons/index.tsx
  yarn.lock
Labels: review/TW, tech, service/opensearch

#650 add: Multi-version connector support documentation for Kafka Connect
  docs/products/kafka/kafka-connect/howto/manage-connector-versions.md
  sidebars.ts
  static/includes/debezium-breakingchange.md
Labels: service/kafka, review/awaitingRelease, service/kafka_connect

#668 update: link to TF migration instructions for M3 to Thanos
  docs/products/metrics/howto/migrate-m3db-thanos.md
Labels: review/TW

#665 update: security best practices for IdPs
  docs/platform/howto/list-identity-providers.md
Labels: review/TW, platform

#671 update: pin connector version
  docs/products/kafka/kafka-connect/howto/manage-connector-versions.md
Labels: service/kafka, service/kafka_connect

#666 update: app user tokens permissions
  docs/platform/concepts/permissions.md
Labels: platform, review/awaitingRelease

#649 update: permissions for moving projects
  docs/platform/concepts/permissions.md
  docs/platform/howto/manage-project.md
Labels: review/TW, platform

#670 update: clarify instructions for upgrading support tier
  docs/platform/howto/support.md
Labels: review/TW, platform

#667 add(valkey): migrate to Aiven for Valkey via k8
  docs/products/caching/howto/upgrade-aiven-for-caching-to-valkey.md
Labels: review/TW, service/caching, service/valkey
