Repository aiven/aiven-docs, pull requests merged in 2025-05, with the labels that each got.

#840 update: migrate a service in a VPC to another cloud
  docs/platform/howto/manage-organization-vpc.md
  docs/platform/howto/manage-project-vpc.md
  docs/platform/howto/vpc-service-management.md
  sidebars.ts
Labels: review/TW, platform

#825 feat: add kapa AI
  docusaurus.config.ts
  sidebars.ts
  src/components/Buttons/KapaAIButton.tsx
  src/components/Buttons/styles.module.css
  src/css/colors.css
  src/css/custom.css
  src/theme/NavbarItem/ComponentTypes.tsx
  static/images/stars.svg
Labels: tech

#829 feat: JDBC catalog for Iceberg sink connector
  docs/products/kafka/kafka-connect/howto/iceberg-sink-connector.md
  docs/products/kafka/kafka-connect/howto/jdbc-catalog-postgres.md
  sidebars.ts
Labels: service/kafka, review/TW, service/kafka_connect

#847 fix: service creation date
  docs/platform/reference/eol-for-major-versions.md
Labels: platform

#848 update: alloydb unsupported extensions
  docs/products/alloydbomni/reference/list-of-extensions.md
Labels: review/TW, service/alloydbomni

#850 update: remove limitations
  docs/products/kafka/kafka-connect/howto/iceberg-sink-connector.md
Labels: service/kafka, service/kafka_connect

#851 update: Remove EA tag
  docs/products/kafka/kafka-connect/howto/iceberg-sink-connector.md
Labels: service/kafka, service/kafka_connect

#856 update: free plan limitations
  docs/platform/concepts/free-plan.md
Labels: review/TW, platform

#859 feat: add Diskless docs
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/diskless.md
  docs/products/diskless.md
  docs/products/diskless/concepts/architecture.md
  docs/products/diskless/concepts/batching-and-delivery.md
  docs/products/diskless/concepts/partitions-and-objects.md
  docs/products/diskless/concepts/topics-vs-classic.md
  docs/products/diskless/get-started.md
  docs/products/diskless/howto/create-diskless-topic.md
  docs/products/services.md
  sidebars.ts
  static/images/content/figma/schema-producer-consumer.png
Labels: tech

#793 feat: Google Private Service Connect enabled for PG
  docs/platform/howto/use-google-private-service-connect.md
Labels: platform, review/awaitingRelease

#844 update: clean up TF guides
  docs/tools.md
  docs/tools/terraform/howto/config-postgresql-provider.md
  docs/tools/terraform/howto/promote-to-master-pg-rr.md
  docs/tools/terraform/howto/upgrade-provider-v1-v2.md
  docs/tools/terraform/howto/upgrade-provider-v2-v3.md
  docs/tools/terraform/howto/upgrade-provider-v3-v4.md
  docs/tools/terraform/howto/upgrade-to-opensearch.md
  sidebars.ts
  static/_redirects
Labels: review/TW, tool/terraform

#865 update: add Iceberg sink connector to the list
  docs/platform/concepts/service-forking.md
  docs/products/kafka/kafka-connect/concepts/list-of-connector-plugins.md
Labels: service/kafka, platform, service/kafka_connect

#870 update: redeeming trial credits
  docs/platform/concepts/billing-and-payment.md
  docs/platform/howto/trial-credits.md
  sidebars.ts
Labels: review/TW, platform

#871 update: clarify limitations of project billing
  docs/platform/howto/manage-project.md
  docs/platform/howto/use-billing-groups.md
Labels: review/TW, platform

#872 update: consolidate iceberg connector howto
  docs/products/kafka/kafka-connect/howto/aws-glue-catalog.md
  docs/products/kafka/kafka-connect/howto/aws-glue-rest-catalog.md
Labels: service/kafka, service/kafka_connect
