Repository aiven/aiven-docs, pull requests merged in 2025-02, with the labels that each got.

#672 fix: refine minimum increase
  docs/platform/howto/disk-autoscaler.md
Labels: review/TW, platform

#676 update: add new types for PR titles
  .github/workflows/semantic-pr.yaml
Labels: tech

#662 update: org admin permissions limitations
  docs/platform/concepts/permissions.md
  docs/platform/howto/make-super-admin.md
Labels: review/TW, platform

#646 feat: Iceberg sink connector to Apache Kafka Connect
  docs/products/kafka/kafka-connect/howto/iceberg-sink-connector.md
  sidebars.ts
Labels: service/kafka, review/TW, service/kafka_connect

#678 fix: Parameter for Iceberg sink connector
  docs/products/kafka/kafka-connect/howto/iceberg-sink-connector.md
Labels: service/kafka, service/kafka_connect

#673 update: Added note about M3 deprecation
  docs/platform/concepts/service_backups.md
  docs/products/m3db.md
  docs/products/m3db/get-started.md
Labels: service/m3db, platform

#659 update: description for recover services role
  docs/platform/concepts/permissions.md
Labels: review/TW, platform, review/awaitingRelease

#683 update: UI label for entity ID in Azure
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/platform/howto/saml/add-azure-idp.md
Labels: platform, tech

#614 update: IP allowlist for tokens
  docs/platform/concepts/application-users.md
  docs/platform/concepts/authentication-tokens.md
  docs/platform/howto/set-authentication-policies.md
Labels: platform, review/awaitingRelease

#684 update: restructure super admin info
  docs/platform/concepts/permissions.md
  docs/platform/concepts/user-access-management.md
  docs/platform/howto/make-super-admin.md
  docs/platform/howto/manage-permissions.md
  docs/platform/howto/saml/add-identity-providers.md
  docs/tools/aiven-console/howto/create-manage-teams.md
  sidebars.ts
  static/_redirects
Labels: review/TW, platform

#660 update: manage groups role description
  docs/platform/concepts/permissions.md
Labels: review/TW, platform

#682 update: clarify manage organization users role permissions
  docs/platform/concepts/permissions.md
Labels: review/TW, platform

#687 update: reorder org permissions
  docs/platform/concepts/permissions.md
Labels: platform

#685 style: harmonize card styling
  src/components/non-swizzled/Card/styles.module.css
  src/css/custom.css
  src/theme/DocCard/index.tsx
  src/theme/DocCard/styles.module.css
Labels: review/TW, tech

#669 update: Cassandra EoL and deprecation info
  docs/platform/reference/end-of-life.md
Labels: service/cassandra, review/awaitingRelease

#691 update: clarify KRaft metrics removal
  docs/products/kafka/reference/kafka-metrics-prometheus.md
Labels: service/kafka, review/TW

#692 update: Valkey & Dragonfly backup info
  docs/platform/concepts/service_backups.md
  static/includes/edit-backup-schedule.md
Labels: platform, service/valkey

#715 fix: Sales email address in docs
  .vscode/aiven.code-snippets
  docs/platform/concepts/beta_services.md
  docs/platform/concepts/enhanced-compliance-env.md
  docs/platform/howto/custom-plans.md
  docs/platform/howto/list-marketplace-payments.md
  docs/products/cassandra/howto/enable-cross-cluster-replication.md
  docs/products/cassandra/howto/list-cross-cluster-replication.md
  docs/products/cassandra/howto/manage-cross-cluster-replication.md
  docs/products/flink/howto/create-flink-applications.md
  docs/products/flink/howto/create-jar-application.md
  docs/products/kafka/howto/enable-governance.md
  docs/products/kafka/howto/enabled-consumer-lag-predictor.md
Labels: service/flink, service/kafka, service/cassandra, platform

#481 update: Governance enablement flow and selection steps
  docs/products/kafka/howto/enable-governance.md
  docs/products/kafka/howto/view-kafka-topic-catalog.md
Labels: service/kafka, review/SME

#720 fix: reducing the number of nodes is now possible
  docs/products/clickhouse/reference/limitations.md
Labels: service/clickhouse

#721 update: replace m3bd with aiven for metrics
  docs/products/postgresql/howto/report-metrics-grafana.md
Labels: review/SME

#688 feat: Point in time recovery (PITR) for BTAR
  docs/platform/concepts/backup-to-another-region.md
  docs/platform/howto/btar/disable-backup-to-another-region.md
  docs/platform/howto/btar/enable-backup-to-another-region.md
  docs/platform/howto/btar/manage-backup-to-another-region.md
  sidebars.ts
Labels: platform, review/awaitingRelease

#722 fix: remove cloud providers from PG max connections list
  docs/products/postgresql/reference/pg-connection-limits.md
Labels: service/pg, review/TW

#718 update: Datadog integration withdrawal for startup-2 plans
  docs/integrations/datadog.md
  docs/integrations/datadog/datadog-metrics.md
  docs/products/kafka/howto/datadog-customised-metrics.md
  static/includes/startup-plan-datadog.md
Labels: service/kafka, review/TW

#716 update: tokens overview
  docs/platform/concepts/authentication-tokens.md
Labels: review/TW, platform

#729 feat: billing permissions
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/platform/concepts/permissions.md
Labels: platform, tech

#717 feat: instructions for changing passwords
  docs/platform/reference/change-password.md
  sidebars.ts
Labels: review/TW, platform

#727 update: private link not supported for BYOC
  docs/platform/howto/use-aws-privatelinks.md
  docs/platform/howto/use-azure-privatelink.md
  docs/platform/howto/use-google-private-service-connect.md
Labels: review/SME, review/TW, platform

#655 feat: KRaft details to Kafka upgrade procedure
  docs/products/kafka/concepts/upgrade-procedure.md
Labels: service/kafka
