Repository aiven/aiven-docs, pull requests merged in 2025-03, with the labels that each got.

#733 update: debezium-source-connector-sql-server.md
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-sql-server.md
Labels: service/kafka, service/kafka_connect

#726 feat: S3 source connector
  docs/products/kafka/kafka-connect/concepts/list-of-connector-plugins.md
  docs/products/kafka/kafka-connect/howto/s3-source-connector.md
  sidebars.ts
Labels: service/kafka, review/TW, service/kafka_connect

#743 fix: k8 link in clickhouse get-started doc
  docs/products/clickhouse/get-started.md
Labels: service/clickhouse, review/TW

#738 update: instrutions for creating organizational units
  docs/tools/aiven-console/howto/create-orgs-and-units.md
Labels: review/awaitingRelease

#744 ci: check missing redirects
  .github/workflows/redirection-reminder.yaml
Labels: tech

#728 update: ClickHouse 24.8 table functions and engines
  docs/products/clickhouse/reference/clickhouse-system-tables.md
  docs/products/clickhouse/reference/supported-table-functions.md
Labels: service/clickhouse, review/awaitingRelease

#713 update: improvements to Iceberg sink connector
  docs/products/kafka/kafka-connect/howto/iceberg-sink-connector.md
Labels: service/kafka, review/SME, service/kafka_connect

#740 update: list of alloydb omni extensions
  docs/products/alloydbomni/get-started.md
  docs/products/alloydbomni/reference/advanced-params.md
  docs/products/alloydbomni/reference/list-of-extensions.md
  docs/products/postgresql/reference/list-of-extensions.md
  sidebars.ts
  static/_redirects
Labels: service/pg, review/TW, service/alloydbomni

#730 update: Aiven console steps for multi-version connectors
  docs/products/kafka/kafka-connect/howto/manage-connector-versions.md
  src/components/non-swizzled/ConsoleIcons/index.tsx
Labels: service/kafka, review/awaitingRelease, tech, service/kafka_connect

#759 fix: missing icons
  docs/products/kafka/kafka-connect/howto/clickhouse-sink-connector.md
  docs/products/kafka/kafka-mirrormaker/howto/exactly-once-delivery.md
  src/components/ConsoleIcons/index.tsx
Labels: service/kafka, tech, service/kafka_connect, service/kafka_mirrormaker

#741 update: List of cloud - OCI ca-montreal-1 region
  static/includes/clouds-list.md
Labels: review/TW, platform

#763 ci: add Docker file
  .dockerignore
  .github/workflow-config/labeling-rules.yaml
  Dockerfile
  README.md
  docker-compose.yml
  package.json
  yarn.lock
Labels: review/TW, tech

#760 feat: Added Kafbat UI
  .github/vale/styles/Aiven/Headings.yml
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/kafka/howto/kafbat-ui.md
  sidebars.ts
  static/images/content/products/kafka/kafbat-ui.jpg
Labels: service/kafka, tech

#765 update: clickhouse startup 32 and 64 plans
  docs/products/clickhouse/reference/limitations.md
Labels: service/clickhouse, review/TW

#731 feat: Google Cloud south-africa-1 region
  static/includes/clouds-list.md
Labels: review/SME, review/TW, platform

#766 chore: remove enterprise tag
  docs/products/opensearch/howto/custom-dictionary-files.md
  src/theme/DocItem/Content/index.tsx
Labels: tech

#767 update: pg replication slots update
  docs/products/postgresql/concepts/upgrade-failover.md
Labels: service/pg, review/TW

#732 feat: Google Cloud northamerica-south1 region
  static/includes/clouds-list.md
Labels: review/TW, platform

#755 feat: Request access to read or write to kafka topic in governance
  docs/products/kafka/howto/request-access-topic.md
  sidebars.ts
  src/components/ConsoleIcons/index.tsx
Labels: service/kafka, tech

#764 feat: initial end user facing documentation for kraft
  .github/vale/styles/config/vocabularies/Aiven/accept.txt
  docs/products/kafka/concepts.md
  docs/products/kafka/concepts/kraft-mode.md
  sidebars.ts
Labels: service/kafka, review/SME, tech

#739 fix: IdP category title
  docs/platform/howto/list-identity-providers.md
Labels: review/TW, platform

#768 fix: instructions to remove Terraform resources
  docs/platform/howto/byoc/delete-custom-cloud.md
  docs/platform/howto/manage-organization-vpc.md
  docs/platform/howto/manage-project-vpc.md
  docs/products/kafka/howto/manage-acls.md
  static/includes/vpc/delete-org-peering.md
  static/includes/vpc/delete-pj-peering.md
Labels: service/kafka, platform, tool/terraform

#756 update: terminology for permission endpoints in development
  docs/platform/concepts/backup-to-another-region.md
  docs/platform/concepts/permissions.md
  docs/platform/concepts/service-and-feature-releases.md
  docs/platform/howto/btar/enable-backup-to-another-region.md
  docs/platform/howto/use-azure-privatelink.md
  docs/platform/howto/use-google-private-service-connect.md
  docs/products/alloydbomni.md
  docs/products/alloydbomni/access-ai-models.md
  docs/products/alloydbomni/connect/connect-services.md
  docs/products/alloydbomni/get-started.md
  docs/products/alloydbomni/manage-credentials.md
  docs/products/alloydbomni/use-columnar-engine.md
  docs/products/cassandra/howto/enable-cross-cluster-replication.md
  docs/products/cassandra/howto/list-cross-cluster-replication.md
  docs/products/cassandra/howto/manage-cross-cluster-replication.md
  docs/products/flink/howto/create-flink-applications.md
  docs/products/kafka/concepts/governance-overview.md
  docs/products/kafka/howto/enable-governance.md
  sidebars.ts
  static/_redirects
  static/includes/clouds-list.md
Labels: service/flink, service/kafka, service/cassandra, review/TW, platform, service/alloydbomni

#772 feat: configure ClickHouse backup time
  docs/products/clickhouse/concepts/disaster-recovery.md
  docs/products/clickhouse/howto/configure-backup.md
  docs/products/clickhouse/howto/restore-backup.md
  sidebars.ts
Labels: service/clickhouse, review/TW

#640 feat: ClickHouse auto backup before powering off a service
  docs/products/clickhouse/concepts/disaster-recovery.md
  docs/products/clickhouse/reference/limitations.md
Labels: service/clickhouse, review/TW, review/awaitingRelease

#773 update: add Terraform example usage to platform features
  docs/platform/concepts/application-users.md
  docs/platform/howto/manage-application-users.md
  docs/platform/howto/manage-groups.md
  docs/platform/howto/manage-permissions.md
  docs/platform/howto/manage-project.md
  docs/platform/howto/technical-emails.md
  docs/tools/aiven-console/howto/create-orgs-and-units.md
Labels: review/TW, platform

#723 feat: pgvectorscale extension for PG
  docs/products/postgresql/reference/list-of-extensions.md
Labels: service/pg, review/awaitingRelease

#775 fix: fetch submodules during checkouts in workflows
  .github/workflows/create-index-algolia.yaml
  .github/workflows/delete-unused-images.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/redirection-reminder.yaml
  .github/workflows/update-adv-params.yaml
  .github/workflows/update-cloud-list.yaml
Labels: tech

#774 update: add Terraform instructions
  .vscode/aiven.code-snippets
  docs/platform/concepts/maintenance-window.md
  docs/platform/concepts/service_backups.md
  docs/platform/howto/add-storage-space.md
  docs/platform/howto/byoc/tag-custom-cloud-resources.md
  docs/platform/howto/create_new_service_user.md
  docs/platform/howto/migrate-services-cloud-region.md
  docs/platform/howto/scale-services.md
  docs/platform/howto/tag-resources.md
  docs/tools/aiven-console/howto/create-orgs-and-units.md
Labels: review/TW, platform

#725 feat: CLI for org VPCs
  docs/platform/howto/_manage-org-vpc-peering-upcloud.md
  docs/platform/howto/attach-vpc-aws-tgw.md
  docs/platform/howto/list-vpc-peering.md
  docs/platform/howto/manage-org-vpc-peering-aws.md
  docs/platform/howto/manage-org-vpc-peering-azure.md
  docs/platform/howto/manage-org-vpc-peering-google.md
  docs/platform/howto/manage-organization-vpc.md
  docs/platform/howto/manage-project-vpc.md
  docs/platform/howto/vpc-peering-aws.md
  docs/platform/howto/vpc-peering-gcp.md
  docs/platform/howto/vpc-peering-upcloud.md
  docs/tools/cli/vpc.md
  sidebars.ts
  static/_redirects
  static/includes/vpc/accept-peering-upcloud.md
  static/includes/vpc/delete-org-peering.md
  static/includes/vpc/delete-pj-peering.md
Labels: platform, review/awaitingRelease, tool/cli

#777 update: tag limits
  docs/platform/howto/tag-resources.md
Labels: review/TW, platform

#778 fix: Use updated Iceberg catalog page.
  docs/products/kafka/kafka-connect/howto/iceberg-sink-connector.md
Labels: service/kafka, service/kafka_connect

#780 update: standardize tab naming for TF samples
  docs/platform/howto/manage-application-users.md
  docs/platform/howto/manage-groups.md
  docs/platform/howto/manage-project.md
Labels: review/TW, platform

#779 fix: Kafka services do not have replica uri
  docs/platform/howto/integrations/prometheus-metrics.md
Labels: platform
